{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
</div>
<hr>
<div class="container mt-3 mb-4">
    <h4>A-G REQUIREMENTS</h4> 
<p>To meet minimum admission requirements for attending the <a href="https://www2.calstate.edu/apply/freshman/getting_into_the_csu/pages/admission-requirements.aspx" target="_blank" class="font-weight-bold">California State University</a> 
or the <a href="https://admission.universityofcalifornia.edu/admission-requirements/freshman-requirements/subject-requirement-a-g.html" target="_blank" class="font-weight-bold">University of California</a>, 
you must complete <span class="font-weight-bold italic">15 year-long high school courses</span> with a letter grade of C or better — at least 11 of them prior to your last year of high school.

<br><br>Keep in mind that taking approved high school (A-G) courses isn't the only way to satisfy these requirements. You also may meet them by completing college courses or earning certain scores on SAT, 
Advanced Placement or International Baccalaureate exams.

</p>
</div>
<div class="container justify-content-center mt-4 mx-auto mb-5">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/4YrPlanner.jpg?" style="width: 80%;">

</div>


{% endblock %}