{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (6)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (8)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>PLANNING CALENDAR</h4>
    <h6>Check off the items as you complete them</h6>

   <br>  <h4 class="text-center p-2" style="background: lightgray;">FRESHMAN YEAR</h4><br>
    <div class="container">
        <div class="row">
            <div class=" col-6 pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Request a list of approved classes meeting the requirements of a four-year college/university, community 
                or technical college.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                See you school counselor and complete or update your four-year plan.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Make sure your fall and spring schedules of classes include career/college/major admission 
                requirements.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Set your goals for success in your classes (grades) and personal life.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Get involved in extracurricular activities, sports, and/or volunteer work.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Visit the school’s College/Career Center and begin investigating college and career resources.
                </label>
            </div>
            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Attend a Career Day, College Fair, or visit a college campus.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Listen to speakers on the career area(s) of your interest.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Talk with your parents about your plans for life after high school.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Meet with your school counselor in the spring to plan which classes you will take during your sophomore year.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Enroll for summer school classes if necessary.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Begin developing your portfolio for college or a job.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Discuss concurrent enrollment with your counselor.
                </label>
            </div>
        </div>

   <br>  <h4 class="text-center p-2" style="background: lightgray;">SOPHOMORE YEAR</h4><br>

        <div class="row">
            <div class=" col-6 pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Request a list of approved classes meeting the requirements of a four-year college/university, community 
                or technical college.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                See you school counselor and complete or update your four-year plan.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Make sure your fall and spring schedules of classes include career/college/major admission 
                requirements.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Set your goals for success in your classes (grades) and personal life.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Get involved in extracurricular activities, sports, and/or volunteer work.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Visit the school’s College/Career Center and begin investigating college and career resources.
                </label>
            </div>
            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Attend a Career Day, College Fair, or visit a college campus.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Listen to speakers on the career area(s) of your interest.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Talk with your parents about your plans for life after high school.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Meet with your school counselor in the spring to plan which classes you will take during your sophomore year.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Enroll for summer school classes if necessary.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Begin developing your portfolio for college or a job.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Discuss concurrent enrollment with your counselor.
                </label>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (6)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (8)</a>
    </div>
  </div>
</div>
    {% endblock %}