{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (8)</a>
    </div>
    <div class="col float-right">
        <a href="../../journey/journey_1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (1)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>PLANNING CALENDAR</h4>
    <h6>Check off the items as you complete them</h6>

   <br>  <h4 class="text-center p-2" style="background: lightgray;">SENIOR YEAR</h4><br>
    <div class="container">
        <div class="row">
            <div class=" col-6 pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Continue your extracurricular activities, sports, and volunteer work. (Emphasize leadership positions.)
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Continue doing well in your classes and getting good grades.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">SEPTEMBER</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Make sure your fall and spring schedules of classes include career/college/major admission requirements.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Get applications for the colleges you wish to attend.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Sign up for the ACT or SAT test, along with any required SAT Subject Tests.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Attend your school’s or local college’s financial aid night with your parents.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Surf the Internet to locate college and financial aid information.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Discuss ROCP courses with your school counselor.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">OCTOBER</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold text-danger">Review the FAFSA form with your family and complete it by MARCH 2ND</span>. 
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Check to see that your school sent your Cal Grant GPA Verification Form. 
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Identify staff who can write strong recommendation letters for you.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Finish essays for college admission.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Attend College Fairs and make last visits to campuses.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Begin submitting forms for private sources of financial aid.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">NOVEMBER</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Submit admission applications (electronically preferred) to UC and/or CSU systems.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Obtain recommendation letters by <span class="font-weight-bold">November 15</span>.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Have your transcripts sent to requesting colleges.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">DECEMBER</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Last month to take the ACT or SATs. 
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Make last visits to colleges during vacation.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Begin to send in independent college/university applications. 
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">JANUARY</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Register to take AP exams.
                </label>
            </div>
            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Inquire about learning opportunities such as ROCP and community colleges.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                If required by colleges, request 7th semester transcript be sent.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">FEBRUARY</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Pursue scholarship information and apply for those scholarships for which you are qualified.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Follow specific campus guidelines regarding housing.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold text-danger pt-2">Make down-payment on dorm room.</span>
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">MARCH</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Apply to community colleges; take placement exams.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Begin to plan your summer work, school, or volunteer activities.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Decide which Advanced Placement test(s) to take.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">APRIL</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Register for summer classes at community colleges or ROCP.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold text-danger pt-2">Return intent to register forms to your chosen colleges before May 1.</span>
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Notify colleges you are not attending.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">MAY</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                ATHLETES: to play college athletics, you must be certified by the NCAA.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Take Analytical Writing Placement Examination if attending UC in fall.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Take Advanced Placement test(s).
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Register for summer programs at college campuses.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Notify scholarship advisor of grants to be included in Awards Assembly.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Return forms for on-campus orientation programs..
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Plan for high school graduation.
                </label>
            <br><br>
            <p class="font-weight-bold pt-2">JUNE</p>
            <br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Ensure that your school sent your final transcript to your chosen college. Final transcripts are due by July 1st.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-boldpt-2">Thank those who helped you succeed.</span>
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold text-danger pt-2">CONGRATULATIONS! Begin life after high school.</span>
                </label>
            </div>
        </div>

    </div>
</div>
<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (8)</a>
    </div>
    <div class="col float-right">
        <a href="../../journey/journey_1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (1)</a>
    </div>
  </div>
</div>
    {% endblock %}