{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (4)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (6)</a>
    </div>
  </div>
</div>
<div class="container mb-5">
    <h4>PATHWAYS FOR COMPLETING HIGH SCHOOL</h4>
    <p>If you need further help earning credits for graduation, there are several alternative ways to acquire them and earn your high school diploma. 
    You can earn credits through adult school, online distance learning courses, regional occupational centers and programs, supervised work experience, 
    independent study, career technical education classes offered in high schools, and credit earned at a post secondary institution, or community college. </p>
</div>
<div class="container mb-5">
    <h4>GED</h4>
    <p>The <a href="https://ged.com/" class="font-weight-bold" target="_blank">GED Tests</a> measure knowledge and academic skills against those of traditional high school graduates. GED Tests are administered in many places 
    throughout the state. Adult schools offer classes to prepare you to take the GED tests. </p>
</div>
<div class="container mb-5">
    <h4>ADULT SCHOOL</h4>
           <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/Pathways.jpg" class="float-right ml-3">
    <p>Adult Secondary Education programs are designed for students who did not complete high school. Alternatives to the GED Tests are the <a href="https://www.casas.org/nedp" class="font-weight-bold" target="_blank">National External Diploma 
    Program</a> and the <a href="https://hiset.ets.org/" class="font-weight-bold" target="_blank">HiSET Program</a>.
    Adult schools offer flexible schedules, a variety of interesting courses, and a user-friendly environment. Programs include adult basic education, career and technical education, citizenship, English as a second language, 
    high school and GED preparation classes, older adult classes, and parent education/family literacy.

    <br><br>High school students can enroll in adult school to make up credits toward graduation or to enrich their high school program. The high school diploma program meets all California requirements as well as those of 
    the local district. Enrollment requires local school and parent permission. Students can see their high school counselor for more information on eligibility. </p>
</div>
<div class="container mb-5">
    <h4>CALIFORNIA HIGH SCHOOL PROFICIENCY EXAM (CHSPE)</h4>
   
           <p>The <a href="https://www.chspe.net/" class="font-weight-bold" target="_blank">California High School Proficiency Exam (CHSPE)</a> is the California legal equivalent to a high school diploma. It IS NOT equivalent to completing all coursework required for regular graduation from high school. 
    The CHSPE consists of two test sections: English-Language Arts and Mathematics. 
    <br><br>If you are at least 16 years old or have been enrolled in the tenth grade for one academic year or longer, or will complete one academic year in tenth grade 
    at the end of the semester during which you take the CHSPE, you are eligible to take it. You must have both a Certificate of Proficiency and have certified parent/guardian permission to stop attending high school. </p>
</div>
<div class="container mb-5">
    <h4>DISTANCE OR E-LEARNING</h4>
    <p>You may choose to earn additional credits toward graduation using the Internet in what is called “distance learning” or “E-Learning.”  The University of California accepts online classes through <a href="http://www.ucscout.org/" class="font-weight-bold" target="_blank">UC Scout</a> and 
    through <a href="http://www.cyberhigh.org/" class="font-weight-bold" target="_blank">PASS/Cyber High</a> for migrant high school students. Please consult your school counselor for further information. </p>
</div>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (4)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (6)</a>
    </div>
  </div>
</div>
{% endblock %}