{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (3)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (5)</a>
    </div>
  </div>
</div>
<div class="container mb-5">
    <h4>COLLEGE ENTRANCE EXAMS</h4>
    <p>In order to apply for most colleges/universities you will be required to take an entrance exam. You will need to check with the college/university that you anticipate 
    attending to find out which exam or exams are accepted as part of the admissions proces.</p>
</div>
<div class="container mb-5">
    <h4>THE PRELIMINARY SAT (PSAT) 8/9</h4>
    <p>The <a href="https://collegereadiness.collegeboard.org/psat-8-9" class="font-weight-bold" target="_blank">Preliminary SAT (PSAT) 8/9</a>
    measures three areas:  critical reading skills; math problem solving skills (including numbers and operation, algebra and functions, 
    geometry and measurement, data analysis, statistics, and probability), and writing skills. The PSAT provides you with practice for the 
    SAT Reasoning Test. 
    <br><br>You will receive feedback on your strengths and weaknesses. This will provide you with a road map for additional study and 
    preparation prior to taking the SAT. It will also familiarize you with the types of questions and directions on the SAT.
    <br><br>It is recommended that students take a preliminary college test in October of their sophomore or junior year. If you take the 
    test in grade 11 and do well, you might qualify for participation in the <a href="https://www.nationalmerit.org/s/1758/start.aspx?gid=2&pgid=61" class="font-weight-bold" target="_blank">National 
    Merit Scholarship</a> competition.
    <br><br>Brochures and dates for this test are available in your school counseling office.  <a href="https://collegereadiness.collegeboard.org/psat-nmsqt-psat-10/k12-educators/requesting-fee-waivers" 
    class="font-weight-bold" target="_blank">Fee waivers</a> are available for juniors from low-income families.  Please see your school counselor regarding this test.</p>
</div>
<div class="container mb-5">
    <h4>SAT REASONING AND SUBJECT TESTS</h4>
    <p>Normally, the <a href="https://collegereadiness.collegeboard.org/sat" class="font-weight-bold" target="_blank">SAT</a> Reasoning Test is taken during your junior or senior year. The SAT Reasoning Test is made up of three sections:  critical reading (reading comprehension, sentence completion, 
    and critical reading passages); mathematics (number and operations, algebra and functions, geometry, statistics, probability, and data analysis) and writing (both multiple-choice questions and short essay).  
    You can choose which scores to send to most colleges, if you take the test more than once. 
    <br><br>SAT Subject Tests should normally be taken at the conclusion of your junior year, the beginning of your senior year, or when you have completed a specific subject. They are designed to measure knowledge, 
    skills, and application in specific subjects such as English, history, math, science, and language.

    <br><br><span class="font-weight-bold">IMPORTANT:</span> Consult the Web sites of the colleges you are considering applying to in order to determine which SAT Subject Tests, if any, are required.  For example, the UC system requires the SAT or ACT 
    Reasoning Test.  The CSU system only requires the SAT Reasoning Test. 
    <br><br>SAT Practice on <a href="https://www.khanacademy.org/sat?utm_source=cbcta-osp&utm_medium=cb418-cb&utm_campaign=practice" class="font-weight-bold" target="_blank">Khan Academy</a>. 
    <a href="https://www.princetonreview.com/college-advice/good-sat-scores" class="font-weight-bold" target="_blank">What is a good SAT Score?</a>

    <br><br>SAT <a href="https://collegereadiness.collegeboard.org/sat/register/fees/fee-waivers" class="font-weight-bold" target="_blank">fee waivers</a> are available to junior and senior students who cannot 
    afford the test fees. Pamphlets and materials describing each test are available in your high school counseling office, college or career center. See your school counselor for details on your school's <a href="https://collegereadiness.collegeboard.org/k-12-school-code-search" 
    class="font-weight-bold" target="_blank">SAT code</a> or to find SAT <a href="https://collegereadiness.collegeboard.org/sat/register/dates-deadlines" 
    class="font-weight-bold" target="_blank">exam dates</a>.</p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/Prepare4-2.jpg" class="float-left mb-5 mr-3 ml-5">
        <br><br><p class="container lead text-center"> Earning your high school diploma could mean as much as $250,000 or more in additional pay over the course of your lifetime. Becoming a high school graduate means more money 
        and opportunity for you!</p>
        <br><br><br>
</div>
<div class="container mb-5">
    <h4>ACT</h4> 
    <p>All colleges and universities in the United States accept either the SAT or ACT for admission purposes. The ACT is divided into four required sections:  English (punctuation, grammar and usage, sentence structure, 
    and rhetorical skills); mathematics (skills typically acquired in courses up through the end of the 11th grade); reading comprehension and science (STEM, interpretation, analysis, evaluation, reasoning, and problem-solving skills 
    required in general or introductory science courses). The optional Writing Test measures skills in high school English classes and entry-level college composition courses.

    <br><br>The UC system requires the ACT plus the Writing Test. The CSU system does not require scores from the Writing Test for admission.

    <br><br>Like the SAT, you can choose which scores to send to most colleges. ACT <a href="http://www.act.org/content/act/en/products-and-services/the-act/registration/fees.html" class="font-weight-bold" target="_blank">fee waivers</a> are 
    available to students who cannot afford the test fees. The ACT <a href="https://www.act.org/content/act/en/products-and-services/the-act.html" class="font-weight-bold" target="_blank">test dates</a> are listed on their website.

    <br><br> So, <a href="https://www.princetonreview.com/college-advice/good-act-scores" class="font-weight-bold" target="_blank">what is a good ACT Score</a> and <a href="https://www.road2college.com/how-to-choose-between-the-act-and-sat/" 
    class="font-weight-bold" target="_blank">what are the differences</a> between SAT and ACT?
</p>
</div>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (3)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (5)</a>
    </div>
  </div>
</div>
{% endblock %}