{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
      <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="/intro/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">INTRODUCTION</a>
    </div>
    <div class="col float-right">
        <a href="/prepare/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (2)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-5">
    <h4>AIM HIGH - YOUR FOUR YEAR PLAN</h4> 
    <p>If you haven’t already made a four-year plan in middle school, you need to begin your planning now.  Use the worksheets on the following pages to make your plan. 
    <br><br>If you are considering attending a four year college or university when you graduate, you will also need to include the <span class="font-weight-bold">“a-g” requirements</span> for the University of California and California State University systems.
     It is always best to be prepared, so aim high and enable yourself to have choices and options for post secondary education when you graduate. Parent engagement is essential to your plan.</p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/Diploma.jpg" class="float-left mr-3 ml-5">
        <br><p class="container lead text-center"> Chad Foster, an American author and motivational speaker, wrote, "From everyone I met, both famous and not so famous, I learned 
        that <span class="font-weight-bold">success is a journey, not a destination</span>.
        <br><br>... Most journeys have a start, a finish, and a turning point somewhere in between. The beginning of your journey starts with your high school diploma."</p>

</div>
<div class="container mt-4 mb-5">
    <h4>GRADUATION REQUIREMENTS</h4> 
    <p>In order to graduate from a California public high school, you must complete the specified state and local graduation requirements.
    Your local school district has established the graduation requirements for your high school. 
    <br><br>Discover effective <a href="https://www.fnu.edu/7-techniques-improve-study-habits/" class="font-weight-bold" target="_blank">techniques</a> to help improve your <a href="http://www.educationplanner.org/students/self-assessments/improving-study-habits.shtml" class="font-weight-bold" 
    target="_blank">study habits</a> and <a href="https://collegeinfogeek.com/how-to-take-notes-in-college/" class="font-weight-bold" target="_blank">note taking</a> skills.</p>
</div>
<div class="container mt-4 mb-5">
    <h4>LEARNING STYLES</h4> 
    <p>One of the most important things you should do, is have a clear understanding of your <a href="https://www.thoughtco.com/knowing-your-learning-style-1857098" class="font-weight-bold" target="_blank">learning style</a>.
    Extensive research has shown that students can perform better on test and homwork if they change study habits to fit their personal learning styles.</p>
</div>
<div class="container mt-4 mb-5">
    <h4>PARENT & FAMILY ENGAGEMENT</h4> 
    <p>Extensive research confirms the many benefits of positive parent and family engagement in the education of youth.</p>
    <p class="ml-4">• Students with involved parents, no matter what their income or background, are more likely to earn higher grades and test scores, enroll in higher-level programs, be promoted, pass their classes, earn credits, attend school regularly, have better social skills, show improved behavior, and graduate and go on to postsecondary education.
    <br><br>• Students with parents who are involved in their school have fewer behavioral problems and better academic performance, and are more likely to complete high school than students whose parents are not involved in their school.</p>
</div>
     <div class="container mb-5 justify-content-center"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/Parent_Engagement_Model3.jpg" style="width: 100%; height: auto;"></div>

<div class="container mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="/intro/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">INTRODUCTION</a>
    </div>
    <div class="col float-right">
        <a href="/prepare/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (2)</a>
    </div>
  </div>
</div>
{% endblock %}