{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="/prepare/1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (1)</a>
    </div>
    <div class="col float-right">
        <a href="/prepare/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (3)</a>
    </div>
  </div>
</div>
<div class="container mt-3 mb-5">
    <h4>A-G REQUIREMENTS</h4> 
<p>To meet minimum admission requirements for attending the <a href="https://www2.calstate.edu/apply/freshman/getting_into_the_csu/pages/admission-requirements.aspx" target="_blank" class="font-weight-bold">California State University</a> 
or the <a href="https://admission.universityofcalifornia.edu/admission-requirements/freshman-requirements/subject-requirement-a-g.html" target="_blank" class="font-weight-bold">University of California</a>, 
you must complete <span class="font-weight-bold italic">15 year-long high school courses</span> with a letter grade of C or better — at least 11 of them prior to your last year of high school.

<br><br>Keep in mind that taking approved high school (A-G) courses isn't the only way to satisfy these requirements. You also may meet them by completing college courses or earning certain scores on SAT, 
Advanced Placement or International Baccalaureate exams.

<br><br><a href="http://www.ucscout.org/" class="font-weight-bold" target="_blank">Scout</a>, from University of California, is a full-service online learning platform for high school students interested in Advanced Placement, Honors, credit recovery, or “a-g” college prep courses. Scout will help students on their road 
to graduation and provide them with a rigorous course of study that will prepare them for college.

</p>
</div>

<div class="container">
  <h4 class="mb-3">FOUR YEAR A-G PLANNER</h4>
  <table class="table table-bordered ">
    <thead>
      <tr class="text-center bg-light">
        <th>9th Grade</th>
        <th>1st Semester</th>
        <th>2nd Semester</th>
        <th>Summer</th>
        <th>Meets A-G Requirement</th>
      </tr>
    </thead>
    <tbody>
        <tr><td>A. History / Social Science</td></tr>
        <tr><td>B. English</td></tr>
        <tr><td>C. Math</td></tr>
        <tr><td>D. Laboratory Science</td></tr>
        <tr><td>E. Foreign Language</td></tr>
        <tr><td>F. Visual & Performing Arts</td></tr>
        <tr><td>G. College Preparatory Elective</td><tr>
      </tr>
    <thead>
      <tr class="text-center bg-light">
        <th>10th Grade</th>
        <th>1st Semester</th>
        <th>2nd Semester</th>
        <th>Summer</th>
        <th>Meets A-G Requirement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr><td>A. History / Social Science</td></tr>
        <tr><td>B. English</td></tr>
        <tr><td>C. Math</td></tr>
        <tr><td>D. Laboratory Science</td></tr>
        <tr><td>E. Foreign Language</td></tr>
        <tr><td>F. Visual & Performing Arts</td></tr>
        <tr><td>G. College Preparatory Elective</td><tr>
      </tr>
    <thead>
      <tr class="text-center bg-light">
        <th>11th Grade</th>
        <th>1st Semester</th>
        <th>2nd Semester</th>
        <th>Summer</th>
        <th>Meets A-G Requirement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr><td>A. History / Social Science</td></tr>
        <tr><td>B. English</td></tr>
        <tr><td>C. Math</td></tr>
        <tr><td>D. Laboratory Science</td></tr>
        <tr><td>E. Foreign Language</td></tr>
        <tr><td>F. Visual & Performing Arts</td></tr>
        <tr><td>G. College Preparatory Elective</td><tr>
      </tr>
    <thead>
      <tr class="text-center bg-light">
        <th>12th Grade</th>
        <th>1st Semester</th>
        <th>2nd Semester</th>
        <th>Summer</th>
        <th>Meets A-G Requirement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr><td>A. History / Social Science</td></tr>
        <tr><td>B. English</td></tr>
        <tr><td>C. Math</td></tr>
        <tr><td>D. Laboratory Science</td></tr>
        <tr><td>E. Foreign Language</td></tr>
        <tr><td>F. Visual & Performing Arts</td></tr>
        <tr><td>G. College Preparatory Elective</td><tr>
      </tr>
    </tbody>
  </table>
</div>
<div class="container justify-content-center mt-4 mx-auto mb-5">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/4YrPlanner.jpg?" style="width: 80%;">
</div>
<div class="container mt-4 mb-4">
  <div class="row">
  <div class="col float-left">
        <a href="/prepare/1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (1)</a>
    </div>
    <div class="col float-right">
        <a href="/prepare/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (3)</a>
    </div>
  </div>
</div>

{% endblock %}