{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (2)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (4)</a>
    </div>
  </div>
</div>
<div class="container mb-5">
    <h4>CONCURRENT OR DUAL ENROLLMENT</h4>
    <p>In California, over 115,000 students per year sign up for <a href="https://admission.universityofcalifornia.edu/counselors/files/dual-enrollment-guidance-2019.pdf" class="font-weight-bold" target="_blank">concurrent or dual enrollment</a> classes with partnering colleges.  Eligible high school students 
    may enroll in courses at a community college and earn college credit.  Generally, students must complete their sophomore year with a minimum overall GPA of 2.0.  
    <br><br>To be eligible, students may enroll in a maximum of two college courses per semester provided they maintain a minimum daily schedule in high school.  
    Specialized or higher level courses not offered at a high school can be taken at a community college. <span class="font-weight-bold">This is an inexpensive way 
    to get a jump on college courses!</span> The community college catalogue will explain if a course is transferable to a UC or CSU campus. Speak to your school counselor
    and community college admissions representative to see if you qualify for this option.</p>
</div>
<div class="container mb-5">
    <h4>AVID PROGRAM</h4>
    <p>The <a href="http://www.avid.org/" class="font-weight-bold" target="_blank">Advancement Via Individual Determination (AVID)</a> program was founded on the belief 
    that acceleration, academic challenge, and support are the basic principles needed to help students succeed academically. Students are enrolled in an AVID elective class, 
    take advanced classes with curriculum and tutorial support, and focus on qualifying for four-year college and university admission. <br><br>AVID programs are available in 
    many middle and high schools in California.</p>
</div>
<div class="container mb-5">
    <h4>ADVANCED PLACEMENT TESTS (AP)</h4>
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/Prepare3-2.jpg" class="float-left mr-3">
    <p>Over 1.8 million students take <a href="https://apstudent.collegeboard.org/exploreap" class="font-weight-bold" target="_blank">Advanced Placement (AP)</a> classes each year.  You may want to take courses during high school that may give you college credit or advanced 
    placement or both. The program allows you to take college level courses while still in high school, which helps prepare you for college courses.  

    <br><br>There are several advantages to taking AP classes. By taking an AP class in high school,  you get to explore a particular subject in depth.  When considering the 
    admission of undergraduates, colleges look favorably on students who have completed college level classes. After being admitted to college, you may skip the class and go 
    on to an advanced class. <a href="https://www.yahoo.com/entertainment/bp/ambitious-teen-earns-unbelievable-10-03-gpa-175900351.html" class="font-weight-bold" target="_blank">Some students take several advanced placement classes</a> and accrue a semester or more of college credits if they take and pass AP exams at the required level.

    <br><br><a href="http://www.ucscout.org/" class="font-weight-bold" target="_blank">Scout</a> from University of California is a full-service online learning platform for high school students interested in Advanced Placement, Honors, credit recovery, or “a-g” 
    college prep courses. Scout will help students on their road to graduation and provide them with a rigorous course of study that will prepare them for college.</p>
</div>
<div class="container mb-5">
    <h4>NATIONAL COLLEGIATE ATHLETIC ASSOCIATION (NCAA) ELIGIBILITY</h4> 
    <p>Prospective student-athletes are strongly recommended to consult the <a href="https://web3.ncaa.org/ecwr3/" class="font-weight-bold" target="_blank">National Collegiate Athletic Association (NCAA) Eligibility Center</a> regarding eligibility issues at Division I and Division II Colleges.  
    You are urged to read the “NCAA Guide for the College-Bound Student-Athlete”.</p>
</div>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (2)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (4)</a>
    </div>
  </div>
</div>
{% endblock %}