{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Getting <span class="text-warning">Prepared</span> for Life</h2>
        <h3 class="text-center">Your High School Diploma</h3>
</div>
<hr>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (5)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (7)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>STUDENTS WITH SPECIAL NEEDS</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/SpecialNeeds.jpg" class="float-left mr-3" style="width: 300px; height: 200px;">
    
    <p>There are many <a href="https://www.bestcolleges.com/resources/students-with-disabilities/" class="font-weight-bold" target="_blank">resources for students with special needs</a> and their families. State agencies, disability organizations, parent organizations, 
    and other private organizations provide ample information and resources. 
    
    <p>Programs and services may include educational programs, special accommodations 
    for testing, mental health services, alternative education, vocational training, and support services on college campuses.  Other services include 
    employment resources, rehabilitation services, and independent living skills training. 
    
    <br><br>Families are encouraged to investigate and use public resources before paying for private assistance. Start your search for the appropriate 
    program and services with your local school and school district. Talk with your school counselor, school psychologist, school nurse, speech and language 
    therapist, special education teacher, or district director of pupil services/special education for recommendations and qualifications.
    
    <br><br>Both the <a href="https://collegereadiness.collegeboard.org/sat/register/special-circumstances/students-with-disabilities" class="font-weight-bold" target="_blank">College Board</a> and the <a href="http://www.act.org/content/act/en/products-and-services/the-act/services-for-examinees-with-disabilities.html" 
    class="font-weight-bold" target="_blank">ACT</a> are committed to serving students with special needs by providing special accommodations during testing. 
    These special accommodations may range from giving extended time, frequent breaks, multiple day tests, providing large print or Braille documents, 
    and giving verbal directions.

    <br><br>The <a href="https://www.cccco.edu/Students/Support-Services" class="font-weight-bold" target="_blank">California Community Colleges</a>, 
    <a href="http://www.calstate.edu/sas/disabilities.shtml" class="font-weight-bold" target="_blank">California State University</a> and 
    the <a href="https://admission.universityofcalifornia.edu/campuses-majors/campus-programs-and-support-services/students-with-disabilities.html" class="font-weight-bold" target="_blank">University of California</a> systems provide various services for special 
    needs students. They are developed individually to meet the needs of each student. Ten percent of college students indicate that they need special services.

    <br><br>As a <a href="https://www.cde.ca.gov/sp/se/qa/pssummary.asp" class="font-weight-bold" target="_blank">parent of a student with special needs</a>, you should know all of your rights as a parent in California and how to access resources to advocate for your child.
    </p>
</div>
<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col float-left">
        <a href="../prepare_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (5)</a>
    </div>
    <div class="col float-right">
        <a href="../prepare_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">PREPARE (7)</a>
    </div>
  </div>
</div>
{% endblock %}

