{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>

<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Dashboard</h2>
      <p>Hello <span class="font-weight-bold">{{user.get_username}}</span>, Welcome Back</p>
</div>
<hr>
 
<div class="container mt-4 mb-3">
  <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" class="float-left pb-3 pr-2 ml-3" style="width: 150px; height: 170px;" alt="LifePrep">
<h3 class="pl-4 mb-3">LIFEPREP ACADEMY</h3>
 <p class="pl-4 ">The LifePrep Academy program supports family engagement and our future workforce by preparing middle and high school students for life after high school. 
 We provide students and families with essential resources and training, while empowering parents to be partners with their children’s school counselors. 
 </p>
</div>
<div class="row container mt-3 pl-4 mx-auto">
<div class="container dropdown show">
  <a class="mx-auto row justify-content-center btn btn-sm col-md-5 btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Table of Contents
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <h4 class="dropdown-header">GETTING PREPARED: YOUR HIGH SCHOOL DIPLOMA</h4>
    <a class="dropdown-item pl-5" href="../prepare/3/">Concurrent or Dual Enrollment</a>
    <div class="dropdown-divider"></div>
      <h4 class="dropdown-header">THE JOURNEY: LIFE AFTER HIGH SCHOOL</h4>
    <a class="dropdown-item pl-5" href="#">Another action</a>
      <h4 class="dropdown-header">HEALTHY LIVING: EFFECTIVE PERSONAL & SOCIAL SKILLS</h4>
    <a class="dropdown-item pl-5" href="/healthy/3/#staysafe">Safe Driving Techniques</a>
  </div>
</div>
<br><br>
<hr>
</div>
 <div class="row container mt-1 mb-0 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/MiddleSchoolPic.jpg" alt="Middle School" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Middle School: Ready to Grow</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/prepare/1/">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/GettingPreparedPic.jpg" alt="Prepared" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Getting Prepared: Your High School Diploma</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/journey/1">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/JourneyPic.jpg" alt="Journey" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">The Journey: Life After High School</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/healthy/1/">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/HealthyLivingPic1.jpg" alt="Healthy Living" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Healthy Living: Effective Personal & Social Skills</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
 
<div class="row container mt-3 mb-3 pl-4 mx-auto">
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/category/science/">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/HomeworkHelp1.jpg" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Homework Help Sites</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/journey/4/">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/ScholarshipsPic.jpg" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Scholarship Search Engines</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/FosterProbImm.jpg" alt="Foster, Probation, Immigrant" style="width:90%; border-radius: 10px;">
        <div class="caption">
            <br>
            <p class="">Foster, Homeless, Probation & Immigrant Youth Resources</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/NotesPic2.jpg" alt="Notes" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Notes</p>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}