{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>

<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Dashboard</h2>
        <p>Hello <span class="font-weight-bold">Eric</span>, Welcome Back</p>
</div>
<hr>
 
 <h3 class="pl-5">LIFEPREP ACADEMY</h3>

 <p class="pl-5 mb-5">The LifePrep Academy program supports family engagement and our future workforce by preparing middle and high school students for life after high school. 
 We provide students and families with essential tools and resources, while empowering parents to be partners with their children’s school counselors. 
 </p>
 <div class="row mt-3 mb-5 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/MiddleSchoolPic.jpg" alt="Lights" style="width:90%;">
        <div class="caption">
        <br>
          <p class="container">Middle School - Ready to Grow</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="../../prepare/prepare_1/">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Prepare/GettingPreparedPic.jpg" alt="Nature" style="width:90%">
        <div class="caption">
        <br>
          <p class="container">Getting Prepared for Life - Your High School Diploma</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/JourneyPic.jpg" alt="Fjords" style="width:90%">
        <div class="caption">
        <br>
          <p class="container">Going on the Journey - Life After High School</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Dashboard/HealthyLivingPic.jpg" alt="Fjords" style="width:90%">
        <div class="caption">
        <br>
          <p class="container">Healthy Living & Effective Personal Skills</p>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}