{% extends 'base.html' %}
{% block content %}

<!-- Carousel -->
<div class="container-fluid p-0 m-0 w-100" style="height: 50vh;">
    <div class="container-fluid p-0 m-0 w-100" style="height:52vh;background:url('https://images.unsplash.com/photo-1537539305875-d15d17683401?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80') no-repeat center fixed; background-size: cover;">
    </div>
  </div>
</div>
<div class="position-relative pl-3" style="top: -460px">
  <div class="text-left ml-4">
    <h1 class="display-6 font-weight-normal text-light" font-size: min(max(50px, 5vw), 600px)">College, Career & Life Planning</h1>
  </div>

</div>
<!-- Heading -->

    <div class="container text-center mb-5">
      <h2 class="display-4"><span class="text-warning">Empowering</span> Our Future Workforce</h2>
      <hr>
      <p class="lead text-left">The <span class="font-weight-bold">LifePrep Academy™ </span>College and Career Planning curriculum helps prepare youth for life after high school.</p> 
      <br>
      <p class="lead text-left">We teach <span class="text-warning font-weight-bold">students and their parents </span> the college knowledge, attitudes and skills students need to graduate from high school college-ready. 
      Workshop participants learn academic planning strategies, college and career options, how to access internet-based resources, the types of financial aid available to them and more.</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4 text-center">Engaging Parents and <span class="text-warning">Families</span></h2>
          <hr>
      <h2 class="lead text-center font-weight-bold">An effective solution to California's <span class="font-weight-bold text-danger"> more than 600:1</span> student-to-counselor ratio!</h2>
      <br>
      <p class="lead text-left">Through LifePrep Academy workshops and webinars, parents:</p> 
 
      <p class="lead ml-4"> •	Learn how to help their child develop an academic plan for their college and career goals;
      <br>
      <p class="lead ml-4">•	Gain confidence in their understanding on how they can help their child prepare for life after high school; and
      </p>
      <p class="lead ml-4">•	Are equipped for clear, high quality <span class="font-weight-bold">communication and collaboration</span> with school counselors.
      </p>
    </div>
  </div>
     <div class="d-flex justify-content-center p-4 row no-bullets lead text-left">
        <img style="height: 40vh;" class="mr-5" src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/HomePage-Pic.jpg" alt="...">

      <ul class="no-bullets lead text-left"> 
      <br>
      <h2 class="text-center">LifePrep Academy Covers:</h2>
      <br>

        <li class"ml-4 list-inline-item"> 
        <i > A-G Requirements, AP & Honors, Concurrent Classes</i>
        <br><br>
        <li class"list-inline-item"> 
        <i> Financial Aid, Scholarships, Grants and Loans</i>
        <br><br>
        <li class"list-inline-item"> 
        <i> UC, CSU, Community Colleges and Private Universities</i>
        <br><br>
        <li class"list-inline-item"> 
        <i> Studying Abroad, Apprenticeships, School-to-Career</i>
        <br><br>
        <li class"list-inline-item"> 
        <i> Career Exploration, Life Skills and much more.</i>
       </li>
      </ul>
    </div>
  </div>
        <br>
      <div class="w-75 mx-auto">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Quote_Marks-sm2.jpg">
      </div>
      <div class="carousel slide" data-ride="carousel" data-interval="9000">
  <div class="carousel-inner justify-content-center mb-5 w-75 mx-auto">
    <div class="carousel-item active">
        <br>
        <p class="d-flex justify-content-center lead text-center">I am confident the LifePrep Academy program will assist high school students in navigating 
        through the opportunities available and allow them to excel in universities, in their careers 
        and in their communities.
        <br><br>
        <p class="d-flex justify-content-center font-weight-bold lead text-center">Assemblymember Reginald Jones-Sawyer, Sr.
        <br>
        California's 59th District, Chair-Committee on Ending School to Prison Pipeline</p>
      
    </div>
    <div class="carousel-item">
        <br>
        <p class="d-flex justify-content-center lead text-center">Educate California has been a trusted partner with California State University for more 
        than ten years, providing LifePrep Academy guides and trainings for our campuses and church partners.
        <br><br>
        <p class="d-flex justify-content-center font-weight-bold lead text-center">Maryann Jackmon
        <br>
        Senior Director of External Affairs, California State University Chancellor's Office</p>
    </div>
    <div class="carousel-item">
        <br>
        <p class="d-flex justify-content-center lead text-center">The LifePrep Academy has helped us walk families through the process of applying for 
        college from A - Z. We annually invite Eric Moore to lead customized LifePrep workshops that educate our parents and high school students.
        <br><br>
        <p class="d-flex justify-content-center font-weight-bold lead text-center">Deacon John Wilson III
        <br>
        Education & Enrichment Director, West Angeles Church of God in Christ</p>
    </div>
  </div>

</div>
  <div class="jumbotron jumbotron-fluid text-center">
    <h3 class="display-4">Stay<span class="text-warning"> Informed</span></h3>
    <h5 class="mb-3" >Enter Your Email to Receive Our Monthly Newsletter</h5>
    <input type="email" size="60" placeholder=" Your Email">  <input type="submit" class="btn btn-sm mb-1 font-weight-bold btn-warning">

  </div>

{% endblock %}