{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Today is the First Day of Your <span class="text-warning">Future</span>!</h2>
</div>
<hr>
<div class="container mt-4 mb-5">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Intro/Future.jpg" class="col-md-3 float-left pl-1" >
    <p><span class="font-weight-bold">You</span> are about to begin a very exciting and challenging phase of your life. Having a plan to graduate is the start of your plan to succeed. You also know that your family is an 
    important part of helping you plan for your time in high school and for those years after high school.
    <br><br>
    Today you are embarking on a journey that will provide the stepping stones to a great life. Your first step is getting ready to go, passport in hand—high school diploma—on your journey.
    <br><br>
    The LifePrep Academy has been designed to assist you and your family in planning for high school graduation and success in life. The curriculum can help you chart the itinerary for your trip; it is divided into three major sections:
    <br><br>
    <span class="font-weight-bold">SECTION I:</span> Getting Prepared for Life - Your High School Diploma
    <br><br> <span class="font-weight-bold">SECTION II:</span> Going on the Journey - Life After High School
    <br><br> <span class="font-weight-bold">SECTION III:</span> Health Living and Effective Personal Skills
    <br><br>
    Section I discusses resources you'll need to get your high school diploma, your real passport to the future.
    Section II starts with life after high school and explores the many post secondary options you have before you. Section III covers
    the role of diet, exercise and sleep in helping students achieve success during the high school years and beyond.
    </p>
</div>
<div class="row justify-content-center mx-auto"> 
<a href="../../prepare/prepare_1/" class=" row btn btn-sm btn-warning col-md-4 mb-5 font-weight-bold">LET'S GET STARTED, CLICK HERE!</a>
</div>
{% comment %} <hr>
<p class="row justify-content-center mx-auto"><small>SPONSORED</small></p>
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/kumon-dec-banner728.jpg" class="row justify-content-center mx-auto"> {% endcomment %}
{% endblock %}