{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"> <span class="text-warning">Healthy</span> Living</h2>
      <h3 class="text-center">Sponsor: Wells Fargo Bank</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/4/" class="row btn btn-sm btn-warning col-md-2 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (4)</a>
    </div>
</div>

<div class="container mt-3 pl-5 mb-4">
    <a href="https://collegesteps.wf.com/get-college-ready/" target="_blank"><img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/WellsFargo_Ad-2017.jpg" class="row mx-auto ml-3" alt="Career Tools" style="width: 70%; height: auto;"></a>
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/4/" class="row btn btn-sm btn-warning col-md-2 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (4)</a>
    </div>
</div>
{% endblock %}