{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="width: 100%; height: auto;">
    <div style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
    </div>
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"><span class="text-warning">Why</span> LifePrep Academy?</h2>
      <h3 class="text-center">3 Reasons Why LifePrep is the Right Choice</h3>
</div>
<hr>
<div class="container mt-4 mb-5">
  <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" class="float-left pr-2" style="width: 300px; height: 320px;" alt="LifePrep">
    <p>1. With student-to-counselor ratios of more than 600:1 in many California schools, <span class="text-warning font-weight-bold">parent engagement</span> is critical to ensuring youth reach their potential. LifePrep Academy resources and webinars teach families how to efficiently work with counselors to achieve the best results for youth.
    
    <p>2. By empowering families to advocate for their child’s transition to life after high school, we can increase the number of low-to-middle income and first generation youth that graduate from high school college ready and prepared to enter the workforce.
    
    <p>3. <span class="font-weight-bold">Since 1998, hundreds of schools, nonprofits, churches and colleges have relied upon the LifePrep Academy to prepare youth for life after high school.</span>
    
    <p>We offer schools and districts a <span class="text-warning font-weight-bold">cost effective</span> alternative to Naviance, Xello and other online programs for achieving their LCAP goals. Professional development trainings are available for counselors, teachers and administrators - along with workshops or webinars for students and parents.
    
    <p>Site license models are available that provide complete access to LifePrep Academy courses to <span class="font-weight-bold">every enrolled student and their parents</span>. LifePrep Academy is the perfect resource for schools and districts
    that provide iPads, Chromebooks or other devices for their students.

    <p>Schools and districts receive a co-branded dashboard for administrators, and another dashboard where students and parents can access the LifePrep Academy curriculum, California-based scholarships, a database of homework help sites and more.
    
    <p><strong>And, through <a href="https://help.donorschoose.org/hc/en-us/articles/360056896053-Creating-a-virtual-class-trip-or-virtual-class-visitor-project" target="_blank" class="font-weight-bold">Donors Choose</a>, schools can provide the LifePrep Academy curriculum and webinars to students and families <span class="font-weight-bold text-danger">AT NO COST</span></strong>.
    </p>
</div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="d-flex justify-content-center lead text-center">"I am confident the LifePrep Academy program will assist high school students in navigating 
        through the opportunities available and allow them to excel in universities, in their careers 
        and in their communities."
        <br>
        <p class="d-flex justify-content-center font-weight-bold lead text-center">Assemblymember Reginald Jones-Sawyer, Sr.
        <br>
        California's 59th District, Chair-Committee on Ending School to Prison Pipeline</p>
    </div>
  </div>
  <div class="mb-5 mt-5 text-center">
    <h3>Our Partners & Clients Include:</h3>
  </div>
  </div>
     <div class="container mb-5 justify-content-center">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Why/ClientsPartners2.jpg" style="width: 80%; height: auto;" class="row mb-5 justify-content-center mx-auto">
    </div>

{% endblock %}