{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Career Planning and Tools</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/23/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (23)</a>
    </div>

    <div class="col float-right">
        <a href="/journey/25/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (25)</a>
    </div>
  </div>
</div>

<div class="container mb-4">
    <h4>PREPARATION FOR YOUR INTERVIEW</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Inteview2.jpg" class="float-right ml-3" alt="Career Tools" style="width: 300px; height: 190px;">
    <p><strong>Your cover letter and resume were a success; you got an interview—now what</strong>?

    <p>When you arrive at an interview, you may be asked to fill out a <a href="https://www.thebalancecareers.com/job-application-form-sample-2061607/" class="font-weight-bold" target="_blank">Job Application</a> before the employer interviews you. <strong>Your application may be their first impression of you</strong>. Make it a good one by following these tips:</p>
</div>
<div class="container mt-3 pl-5 mb-4">
    <p>1. Read the entire application before filling in any sections.
    <p>2. <strong>Use information from your resume to complete the application</strong>.
    <p>3. For difficult questions, use a separate piece of paper to practice writing answers.
    <p>4. Use a pen (<strong>preferably black ink</strong>) and print clearly.
    <p>5. Completely answer ALL questions. If questions do not apply, write N/A (not applicable) or draw a line in that space.
    <p>6. After you’re done, <span class="text-danger font-weight-bold">proofread</span> the application, correcting spelling and grammar.
    </p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CareerTools1.jpg" class="float-left mr-5 pt-2 pl-4 ml-5" style="width: 360px; height: 250px;">
        <p class="container lead text-left mt-4 pb-2 mr-0"> <em>The California Fair Employment Practice (FEP) Act makes it illegal to ask questions about an applicant’s race, religious creed, color, national origin, ancestry, sex or disabilities BEFORE the person is employed. Questions about physical fitness are allowed if they are directly related and pertinent to the job. 
        
        <br><br>The Act also prohibits any nonrelated inquiry: for example, what your parents do, whether you rent or own a home, if you are planning to be married. This law ensures that an employer makes hiring decisions based on your skills, attitude, and ability to do the job.</em></p>
</div>

<div class="container mb-4">
    <h4>INTERVIEW CHECKLIST</h4>
    <p><strong>Check off these items as you prepare for your interview:</strong></p>
</div>

<div class="container pl-5">
    <div class="row">
        <div class=" col-6 pl-4 form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            References — bring a list of three references; do not use family members.
            </label>
        <br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Portfolios — prepare a sample of documents, projects, and pictures representing your skills and achievements in a notebook or portfolio binder.
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Know your employer — learn about the company.
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Be prepared to emphasize your strengths and how they fit the job.
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            <span class="font-weight-bold text-capitalize">DRESS APPROPRIATELY — first impressions are lasting!
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            <strong>ARRIVE EARLY</strong> and call if you are delayed or need to reschedule.
            </label>
        </div>
        <div class=" col-6 pl-4 form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            <strong>Prepare a list of questions</strong> to ask the interviewer. Always have at least one question ready, as your interviewer will likely ask if you have any. Never just say no.
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Practice interviewing with a friend or family member until the process seems natural (<a href="https://www.indeed.com/career-advice/interviewing/top-interview-questions-and-answers" class="font-weight-bold" target="_blank">common interview questions and answers</a> are available on job-hunting skills Web sites).
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Bring several copies of your resume, a pad of paper and pen to make notes, and your personal identification documents (social security card and driver’s license).
            </label>
        <br><br>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            <strong>Have a positive attitude and a friendly smile</strong>.
            </label>
        </div>
    </div>
</div>

<div class="container mt-4 mb-2">
    <h4>THE INTERVIEW</h4> 
    <p><strong>You really want that job and have prepared for the interview; now you have to</strong>:
</div>

<div class="container">
    <div class="row">
    <div class="container col-6 mt-2 pl-5 mb-2">
    <p>• <strong>KEEP CALM</strong>. Try not to be nervous.
    <p>• Listen to the interviewer.
    <p>• Answer questions directly, honestly, and with facts and examples.
    <p>• <strong>Emphasize your strengths</strong>.
    <p>• Be polite and considerate by not interrupting the interviewer.
    <p>• Never say anything negative about a former employer or teacher.
</div>
<div class="container col-6 mt-2 pl-4">
    <p>• Ask any questions you may have about the job (<span class="text-danger">leave salary questions until after you are offered the job</span>).
    <p>• <strong>ASK FOR THE JOB!</strong> Let your potential employer know how interested you are to work there and why.
    <p>• Inquire as to when you will be notified about the results of the interview.
    <p>• <strong>Thank the interviewer</strong> for spending time with you.
    </p>
</div> 

<div class="container mb-2 ">
    <p><strong>When your interview is completed, evaluate your success and areas for improvement. Send any requested items to the company and <span class="text-danger">send a thank you note or e-mail the next day</span>.</strong></p>
</div>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/23/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (23)</a>
    </div>

    <div class="col float-right">
        <a href="/journey/25/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (25)</a>
    </div>
  </div>
</div>
</div>
{% endblock %}