
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (9)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_11/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (11)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>CALIFORNIA COMMUNITY COLLEGE SYSTEM</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CCCPic2.jpg" class="float-right ml-3" style="width: 300px; height: 190px;">
    <p>The California Community College System is the <strong>largest system of higher education in the world</strong> serving 2.5 million students on 115 college campuses throughout California (see map below for locations). 
    
    <p>Community colleges offer a smooth transition to a four-year institution. <strong>Sixty percent of students who received their bachelor’s degree at a California State University and 30 percent of students who graduated from a UC school started their education at a California Community College</strong>. Eighty percent of the students who attend a community college also work at the same time.  Per unit cost is $46, however most schools also have mandatory service fees.
	
    <p>Most community college campuses, like four-year institutions, provide a large variety of services to assist students in pursuing their educational and career goals. Such services include:  academic advising; disabled student services; honors programs; learning and tutoring programs; scholarships; child care; and career center.

    <p>For many students, the community college offers a quality lower-division academic or vocational college education at value prices while living at home. Programs include:</p>
</div>
<div class="container pl-5 mt-4 mb-4">
    <p>• <a href="https://www.cccco.edu/About-Us/Chancellors-Office/Divisions/Educational-Services-and-Support/What-we-do/Curriculum-and-Instruction-Unit/Curriculum/Baccalaureate-Degree-Pilot-Program" class="font-weight-bold" target="_blank">Bachelor’s degree programs</a> at 15 California colleges.
    <p>• Associate degree programs in arts and sciences (lower division requirements).
    <p>• Certificate programs in arts, sciences, technical and occupational fields such as health, business and finance, electronics, computer sciences, agriculture, police and fire science, food science, and building and landscaping trades.
    <p>• Credit and non-credit classes.
    <p>• English training.
    <p>• Citizenship classes.
    <p>• Remedial or “catch-up” classes.
</p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CCCPic1.jpg" class="float-left mr-5 pl-4 ml-5" style="width: 400px; height: 250px;">
        <br><br><p class="container lead text-left pb-5 pt-3 mr-0"><em><strong>From a consumer’s standpoint, students would be well advised to see if programs are offered at community colleges before enrolling in a costly two-year private technical or occupational school.
        </strong></em></p><br><br>
</div>

<div class="container mt-4 mb-4">
<h6>There are four ways to be eligible to attend a community college:</h6>
    <br>
    <p class="pl-4">• Be a high school graduate, <strong>OR</strong>
    <br><br>• Be an apprentice (as defined by section 3077 of the labor code) and demonstrate that you are capable of benefiting from the instruction offered, <strong>OR</strong>
    <br><br>• Be eighteen years of age and demonstrate that you are capable of benefiting from the instruction offered, <strong>OR</strong>
    <br><br>• Be approved as a concurrently enrolled K-12 student with approval of a local K-12 school or district in accordance with Education Code sections 48800 - 48802 and 76001 - 76002.
    </p>
</div>
<div class="row container justify-content-center mx-auto pt-2 mb-4">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CCCMap.jpg" style="width: 80%; height: auto;"">
</div>
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (9)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_11/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (11)</a>
    </div>
  </div>
</div>
{% endblock %}