{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Life After High School</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="../../prepare/prepare_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (9)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (2)</a>
    </div>
  </div>
</div>
<div class="container mb-5">
    <h4>FINANCIAL AID RESOURCES</h4> 
    <p>Attending a college, university, career or technical school can be expensive. <span class="font-weight-bold">About three-quarters of all students get some type of financial assistance</span>.  However, there are many 
    financial aid resources available to achieve your post secondary goals. They are:

    <div class="pl-4">
        • Scholarships through your parents’ employers, religious groups, private clubs, lodges, businesses, foundations, unions, community groups, private individuals, and various 
        organizations. They can be based on such things as academic merit (GPA), SAT or ACT scores, competitive essay, field of study, special talent (for example, music), ethnicity, leadership ability, 
        community service activities, or athletics
        <br><br>• Federal or California grants
        <br><br>• Loans
        <br><br>• Work study programs
        <br><br>• Tuition reimbursement programs from part-time employers (for example, Bank of America 
        and Starbucks).</span>
    </div>
    </p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-5 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Journey1.jpg" class="float-left mr-3 pl-4 ml-5" style="width: 350px; height: 210px;">
        <br><p class="container lead text-center mr-0"> "I’m going to be the first college graduate in my family.  &nbspI couldn’t have done this without my high school counselor.  &nbspShe made me aware of all the sources of financial aid."
        <br><br>- Juan, UCLA senior</p>
        <br><br>
</div>
    <div class="container mb-5">
        <p>It is never too early for you to explore the opportunities for financial aid while in high school. Getting these financial resources requires some research. Most financial aid is based on your need, not your academic performance. 
        Talk to your high school and career counselors for assistance. Some of this financial aid is given on a first-come, first served basis.  <a href="https://www.collegedata.com/cs/content/content_payarticle_tmpl.jhtml?articleId=10217&utm_source=newsletter&utm_medium=email&utm_campaign=article_news&WT.mc_id=article_news" 
        class="font-weight-bold" target="_blank">Avoid these common financial aid pitfalls</a>!
        
        <br><br>It is important for you to fill out a <a href="https://fafsa.gov/" class="font-weight-bold" target="_blank">Free Application for Federal Student Aid (FAFSA)</a> or other required forms prior to the <span class="font-weight-bold text-danger">MARCH 2nd DEADLINE</span>! 
        In this way, colleges determine what type of financial aid you are entitled to as well as your family’s contribution. The FAFSA can be filled out online.  An online calculator <a href="https://fafsa.ed.gov/spa/fafsa4c/?locale=en_US#/landing" 
        class="font-weight-bold" target="_blank">(FAFSA4caster)</a> has been developed to assist families in financial planning for federal student aid. 
        <br>
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Cash4College.jpg" class="ml-3 mt-3 mb-3 float-right" style="width: 250px; height: 75px;">
        <div> Starting <span class="font-weight-bold text-danger">October 1 through June 30</span>, students and families can attend <a href="https://cash4college.csac.ca.gov/" target="_blank" class="font-weight-bold">FREE Cash for College workshops</a> across California for help completing the Free Application for Federal Student Aid (FAFSA) or California Dream Act (CADAA) and Chafee Grant for Foster Youth applications.
        Our mission is to help low-income and first generation college-goers complete the application process so they can access financial aid for education and career/technical training beyond high school. 
        </div>
        <br>Colleges offer different packages and amounts of financial aid. Compare the offers of financial aid from various schools. Accept the right one for you. In some cases, <span class="font-weight-bold">it may be possible to negotiate</span> with a college of your 
        choice for a better offer. Be sure to <a href="https://bigfuture.collegeboard.org/pay-for-college/financial-aid-awards/comparing-financial-aid-awards" class="font-weight-bold" target="_blank">compare your financial aid awards</a>.
    </div>
    <div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="../../prepare/prepare_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">PREPARE (9)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (2)</a>
    </div>
  </div>
</div>
{% endblock %}