{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Life After High School</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (2)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (4)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>CALIFORNIA GRANTS</h4> 
    <p>In addition to Federal Student Aid, California also provides grants.  Every high school senior who graduates, meets academic, financial and eligibility 
    requirements, and applies on time, is guaranteed a Cal Grant award to attend college. In other words, this is free money. It costs nothing for you to apply 
    and does not have to be repaid! There are several <a href="https://mygrantinfo.csac.ca.gov/" class="font-weight-bold" target="_blank">Cal Grant Programs</a>:

    <div class="">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSAC_Jouney.jpg" class="float-left mr-4" style="width: 280px; height: 90px;">
    <p><span class="font-weight-bold">Cal Grant A Awards</span> assist with tuition and fees at public or independent four-year colleges, and some occupational and career colleges. Award amounts 
    of up to $12,630 cover fees for U.C., $5,742 for a CSU school and $9,084 at independent schools. You can also use this award for up to three years at a 
    California community college until you transfer to a four-year college.
    <br>
    <p><span class="font-weight-bold">Cal Grant A Entitlement Awards</span> are guaranteed to every graduating high school senior with a 3.0 grade point average (GPA) or above who meets financial requirements.

   
    <p><span class="font-weight-bold">Cal Grant B Awards</span> provide for costs such as living expenses, transportation, books and supplies, and tuition and fees for low-income students during the 
    first-year of school up to $1,672.
    <br>
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CaGrants_Jouney.jpg" class="float-right mr-4" style="width: 400px; height: 250px;">
    <p><span class="font-weight-bold">Cal Grant A & B Awards</span> are offered on a competitive basis for those students not receiving entitlement awards.

    <br>
    <p><span class="font-weight-bold">California Community College Transfer Entitlement Awards</span> are given to students who attend a California Community College who have at least a 2.4 GPA, meet the 
    admissions requirements to attend a four-year college, meet financial requirements, and are under 24 years of age as of December 31.
    <br>
    <p><span class="font-weight-bold">Cal Grant C Awards</span> assist students in technical, occupational, or career training. It provides $1,094 for books, tools, and equipment. Up to $2,462 in 
    tuition assistance can be given to students attending a school other than a California Community College. You must meet the Cal Grant financial and eligibility requirements and enroll in a program 
    which is four months or longer.
    <br>
    <p>The <a href="https://chafee.csac.ca.gov/" target="_blank" class="font-weight-bold">California Chafee Grants for Foster Youth</a> are grants for up to $5,000 per year given to foster youth or former foster youth ages 16 to 21 to assist with 
    job training or college tuition.

    <br><br>
    <h5>All Cal Grant Applicants Must:</h5>
    </p>
    </div>
</div>
    <div class="container pl-5 mb-4">
        <div class="row">
            <div class=" col-6 pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Be a high school graduate or graduate from high school in the current year.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Be a U.S. citizen or eligible noncitizen.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Have a Social Security Number.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Be a California resident.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Attend a qualifying California school.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Meet U.S. Selective Service requirements, if required.
                </label>
            </div>
            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Be enrolled at least half-time.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Maintain satisfactory academic progress.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Have family income and assets below the established figures set each year.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Not be in default of any student loan.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Not owe any federal or state grant refunds.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold">File the FAFSA and GPA Verification Form by the <span class="text-danger">MARCH 2nd</span> deadline</span>.
                </label>
            </div>
        </div>
    </div>
<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (2)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (4)</a>
    </div>
  </div>
</div>
{% endblock %}