{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Choosing the Right College</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (7)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (9)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>12 TIPS FOR GETTING INTO THE COLLEGES OF YOUR CHOICE</h4>
    <p>College admission officers <strong>carefully assess</strong> your high school grades, courses, test scores, essays, activities, recommendations, and interviews, if required.  You will increase your chances of getting into the colleges of your choice by following these twelve tips:</p> 

</div>
<div class="container pl-5 mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/12Tips.jpg" class="float-right ml-3" style="width: 400px; height: 250px;">
    <p>1. <strong>Get the best possible grades you can</strong>
    <br><p>Your grades will be extremely important in the college admissions process, so strive to get the best grades you can during ALL four years of high school.
        <br><br>
    2. <strong>Take academically rigorous classes ALL four years</strong>
    <p>You should carry as many challenging courses as you can handle—college prep, Advanced Placement (AP), honors, and International Baccalaureate (IB).
        <br><br>
    3. <strong>Practice taking the SAT and ACT</strong>
    <p> Become familiar with the types of material covered and test directions.  Take the PSAT during your sophomore year.  Determine what knowledge and skills you lack and master them for actual tests.  Take advantage of free online <a href="../../prepare/prepare_4/" class="font-weight-bold">SAT or ACT</a> materials, study guides, practice tests, tutors, and prep courses before or during your junior year.
        <br><br>
    4. <strong>Take both the SAT and the ACT</strong>
    <p> Colleges will accept either test.  You may do better on one test than the other.  This will boost your chances for admission. Take the SAT or ACT more than once if you are not satisfied with your scores.
        <br><br>
    5. <strong>Take SAT Subject Tests and AP Tests</strong>
    <p> Competitive colleges may require you to take some of these exams and they take note of exam results. Only AP scores of 5 are accepted by top colleges. 
        <br><br>
    6. <strong>Spend sufficient time developing your college essays</strong>
    <p> Think and reflect before you write your <a href="https://www.collegedata.com/en/prepare-and-apply/apply-yourself/create-outstanding-applications/tips-to-improve-your-essay/" class="font-weight-bold">college essays</a>.   Write, edit, rewrite.  This is your opportunity to sell yourself.  Make yourself appear energetic, exciting, passionate, and intellectually curious.  How can you make the real “you” stand out from the rest of the crowd?  Get feedback on the essays from your teachers and/or other school personnel.

</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/12Tips1.jpg" class="float-left mr-5 pl-4 ml-5" style="width: 400px; height: 250px;">
        <br><br><p class="container lead text-left pb-5 pt-2 mr-0"><em><strong> After completing my A.A. Degree at a local community college, I achieved my dream of enrolling at a UC campus as a junior.</em></strong>
        <br><br> <em><strong>-- William, UC Berkeley junior</em></strong></p>
        
</div>

<br>
<div class="container pl-5 mb-5">
    7. <strong>Become involved in your school and/or community during all four years and summer vacations</strong>
    <p> You need to <strong>document your involvement in extracurricular and co-curricular activities</strong>, sports, and/or volunteer activities in your community.  Move up to leadership positions.  Demonstrate growth.  Develop a deep interest or talent in one or more areas.  Some of these activities can directly connect to a future college major (for example, being a reporter or editor of your school newspaper or working at a local newspaper and becoming a journalism major).
        <br><br>
    8. <strong>Ask teachers and counselors who know you well for recommendations</strong>
    <p> At least a month in advance of college deadlines for recommendations, jog their memories by providing them with a “personal data” or “brag sheet” highlighting your academic accomplishments, athletics, activities, and community service work and leadership positions.  Also, highlight anything special you did during the summer (for example, foreign travel to improve language skills, volunteer work, projects).
        <br><br>
    9. <strong>Prepare for on-campus interview, if required by colleges</strong>
    <p> Re-read your essays and any information you have acquired on specific colleges.  Be friendly and articulate.  Dress like a winner—not casually.  After the interviews, send thank you notes or e-mails expressing your continued interest in their institution. 
        <br><br>
    10. <strong>Decrease your stress by starting your search for colleges early—not later than the start of your junior year</strong>
    <p> This gives you adequate time to work on researching colleges, completing applications, writing essays, and taking necessary exams.
        <br><br>
    11. <strong>Get organized and stay focused</strong>
    <p> Make a file folder for each college that interests you and put relevant information inside of it (for example, a copy of your application and essay, and material downloaded from the Internet). Keep focused on your ultimate goal: Getting into the colleges of your choice.
        <br><br>
    12. <strong>Get on-going assistance from your school counselor and teachers</strong>
    <p> Don’t be afraid to ask questions of them no matter how simple they may seem.
</div>
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (7)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_9/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (9)</a>
    </div>
  </div>
</div>
    {% endblock %}