{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">More Post Secondary Options</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_18/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (18)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_20/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (20)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>THE U.S. MILITARY</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Military1.jpg" class="float-left mr-3" style="width: 325px; height: 205px;">

    <p>Each year more than 340,000 men and women join the <a href="http://www.goarmy.com/" class="font-weight-bold" target="_blank">Army</a>, <a href="https://www.airforce.com/" class="font-weight-bold" target="_blank">Air Force</a>, <a href="http://www.gocoastguard.com/" class="font-weight-bold" target="_blank">Coast Guard</a>, <a href="http://www.marines.com/becoming-a-marine" class="font-weight-bold" target="_blank">Marine Corps</a>, or <a href="http://www.navy.com/" class="font-weight-bold" target="_blank">Navy</a>.  More than 4,100 different jobs are available in the military for both enlisted men and officers in 142 different occupations. Eighty-eight percent of these jobs have direct civilian job-a-likes. Therefore, this could be a good career option for you out of high school or college. 
    
    <p><strong>View the military as one of many possibilities for you</strong>. In order for you find out what possible choices you have based on your skills, you may take the <a href="http://www.military.com/join-armed-forces/asvab" class="font-weight-bold" target="_blank">Armed Services Vocational Aptitude Battery (ASVAB)</a>. The ASVAB is available yearly at many high schools for 10th, 11th, and 12th graders.  Talk to your school counselor if you are interested.

    <p><strong>Generally, to enlist you must be at least 17 years of age, be a U.S. citizen or legally reside in the U.S., and possess an Immigration and Naturalization Service Alien Registration Card (“Green Card”), speak English fluently, and be a high school graduate</strong>.

    <p>If you decide to join the military, you will go through between six and 13 weeks of basic training. You may then go to an advanced training school or be assigned directly to the field in the United States or around the world
    
    <p><strong>Military pay can be comparable to civilian pay</strong> based on number of years in the service, rank, and level of education.  Service members receive thirty days of vacation per year, free room and board, free medical and dental benefits, travel opportunities, and qualify for retirement benefits after twenty years of service. In addition, there are tuition assistance programs available while on active duty.  Those individuals who have served three years of full-time military duty are also eligible for various tuition support programs of more than $39,000.

    <p>In addition to regular enlistment programs, you may elect to join the California National Guard or Reserves. There are also two- and four-year <a href="http://todaysmilitary.com/training/rotc" class="font-weight-bold" target="_blank">Reserve Officers Training (ROTC)</a> Programs in colleges leading to a commission as an officer.  During their junior and senior years of college, students can receive stipends of $450 to $500 per month. The U.S. Military Academies may also be options for you.
    </p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Military2.jpg" class="float-right mr-5 pl-4 ml-5" style="width: 370px; height: 240px;">
        <br><p class="container lead text-left pl-5 ml-5 mt-5 pb-5 mb-4 mr-0"><em><strong> Before signing any contract for military service, discuss the terms of the contract with your parent or guardian and school counselor.  Be sure to carefully research and evaluate whether the military is right for you.. 
        </strong></em></p><br>
</div>

<div class="container mt-4 mb-4">
    <h4>THE "GAP YEAR" OR "YEAR OUT"</h4>
    <p>For many years, some graduates of high schools in Great Britain and other countries have taken a year off before entering college. This is often referred to as the “gap year.” This option is now becoming more popular in the United States. The gap year is designed to be an exploratory year between high school and college.  

    <p>By means of carefully planned activities of your choosing, you can do such things as travel to another country to learn or perfect a foreign language, volunteer in another country or part of the United States, participate in a community project such as those offered in AmeriCorps and the California Conservation Corps, get a job in a foreign country in the food or hotel industry, teach English abroad, or explore a work area of interest to you while saving money for college. Gap year activities are meant to be new and exciting life experiences for you. 
    
    <p class="text-center text-danger"><strong>The gap year is not designed for you to sit on the couch and watch TV for a year!</strong></p> It provides many students with the opportunity to mature financially, socially, and academically. Students frequently come back from the gap year experience with a clearer idea about what they want to do with their lives and the careers they wish to enter.

    <p>Many colleges and universities in the United States endorse the concept of the gap year. However, students who wish to pursue a gap year should first gain acceptance to a college or university and then ask for a deferral.
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_18/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (18)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_20/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (20)</a>
    </div>
  </div>
</div>

{% endblock %}