
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/11/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (11)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/13/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (13)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>THE CALIFORNIA STATE UNIVERSITY (CSU) SYSTEM</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSU-ELPic3.jpg" class="float-right ml-3" style="width: 300px; height: 230px;">
    <p>The California State University System is the largest and most diverse university system in the United States. At a cost of about $6,100 per year, it is also one of the most affordable four-year institutions. It has over 460,000 students on twenty-three campuses throughout California. It offers numerous programs in over 240 subject areas. 
    
    <p>A comprehensive Web based resource, called <a href="https://www2.calstate.edu/apply" class="font-weight-bold" target="_blank">Cal State Apply</a>, has been developed to assist students and their families learning about the Cal State System. Such topics as selecting which CSU campuses to attend, financing your education, information about applying for admission, admission filing dates, and completing the application for admission online are covered on this interactive site. See this video on "<a href="https://www.collegexpress.com/articles-and-advice/majors-and-academics/articles/study-smarter/how-graduate-college-time-part-i/" class="font-weight-bold" target="_blank">How to Graduate from College On Time": Part 1</a> and <a href="https://www.collegexpress.com/articles-and-advice/majors-and-academics/articles/study-smarter/how-graduate-college-time-part-ii/" class="font-weight-bold" target="_blank">Part 2
    </a>. 
</div>
<div class="container mt-4 mb-4">
<hr>
<h6>Students who meet the following three standards are admitted as a freshman at a CSU campus:</h6>

    <p class="pt-3 pl-5">• Taking specific high school courses; that is, completing the 15-unit a-g pattern of required courses.
    <br><br>• Grades and test scores. CSU uses an <a href="http://www.csumentor.edu/planning/high_school/elig_index_calculator.asp" class="font-weight-bold" target="_blank">Eligibility Index</a> that combines your high school GPA with the score you earn on either the SAT or ACT test. Test scores are not required if your GPA is 3.0 or above. 
    
    The CSU <a href="http://csustudentsuccess.org/earlystart_overview" class="font-weight-bold" target="_blank">Early Start Program</a> is designed for admitted CSU freshmen who need to improve their skills in English and Mathematics before the beginning of the fall term. Students are encouraged to fulfill the requirement to participate in Early Start at their future campus.
    <br><br>• Graduation from high school, passing the California High School Proficiency Examination, or passing the General Education Development (GED) test.
    </p>
</div>

<div class="container mt-4 mb-4">
    <p>Several CSU campuses are in high-demand and overcrowded in certain majors. They may have higher standards for those individuals who live outside of the local campus area. In addition to the three standards outlined above, these campuses have supplemental admission criteria. </p> 
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSUPic2.jpg" class="float-left mr-5 pl-4 ml-5" style="width: 400px; height: 270px;">
        <br><br><p class="container lead text-left pb-5 pt-4 mr-0"><em><strong>CSU has an <a href="https://www.calstate.edu/eap/" class="font-weight-bold" target="_blank">Early Assessment Program (EAP)</a> for eleventh grade students to determine college readiness in English and math.  The EAP identifies whether a student is prepared for college in these subjects or whether they need additional preparation during the twelfth grade.  Please see your school counselor for details.
        </strong></em></p><br>
</div>

<div class="row container justify-content-center mx-auto pt-2 mb-4">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSUMap.jpg" style="width: 80%; height: auto;">
</div>
 
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/11/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (11)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/13/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (13)</a>
    </div>
  </div>
</div>
{% endblock %}