{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Career Planning and Tools</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/20/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (20)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/22/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (22)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>CAREER PLANNING</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Career1.jpg" class="float-left mr-3" style="width: 325px; height: 205px;">

    <p>In order to make wise choices for your post secondary training and employment, you will want to do some investigation of career paths. You will want to determine your personal areas of interest, your current skills, how much education/training you want to pursue after high school, your personality traits, and your personal and financial goals for the future. If it sounds complicated, don’t let that stop you from going down a career path. It is important to get started investigating careers and learning more about yourself.

    <p>This section of the Guide provides information regarding career exploration and planning, interest inventories, skill assessment, and Internet resources to gather the information you need. Listed below are the steps you may take in career planning:</p>
    
<div class="container mt-3 pl-4 mb-4">
    <p>• Talk with your school counselor, teachers, family members, and other role models about careers in which you are interested.
    <p>• Visit your school’s Career Center; ask the technician to help you use career resources.
    <p>• Complete an interest inventory, skill assessment or personality inventory in the Career Center or at home.  These will suggest some careers that may fit you well.
    <p>• Seek help in understanding the interpretation of results.
    <p>• Match your personal interests, skills, personality traits, and educational goals with possible career choices.
    <p>• Investigate different careers using Career Center materials and other Internet resources.
    <p>• Take high school classes leading to your desired career.
    <p>• Plan for post secondary education/training to reach your career goal.
    <p>• Add additional skills through participation in school clubs, student body activities, sports, local community organizations, and religious groups.
    <p>• Start a part-time job to develop employment skills.
    </p>
</div>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-3">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Career2.jpg" class="float-right mr-5 pl-3 ml-3" style="width: 370px; height: 240px;">
        <p class="container lead text-left pl-5 ml-3 mt-5 pb-3 mr-0"><em><strong> "Learning about careers is fun. My school counselor helped me with career planning and now I am ready to go into an apprenticeship program which leads to an A.A. Degree when I graduate from high school."
        <br><br>- Tran, high school senior</p> 
        </strong></em></p>
</div>

<div class="container mt-4 mb-4">
    <h4>DISCOVERING YOUR SKILLS AND INTERESTS</h4>
    <p>A good place to start your career exploration is with your personal interests and skills. You know what you like and you have developed some interests and skills, such as working with animals, computer literacy, playing an instrument, helping less fortunate people, or keeping up with the latest fashion. There are areas in which you haven’t had experience yet and are willing to explore. 
    
    <p>When you complete your interest inventory, you will be asked to respond to those things you already like and those you may be interested in exploring. In <a href="http://www.careeronestop.org/explorecareers/assessments/skills.aspx" class="font-weight-bold" target="_blank">assessing your skills</a>, you will discover what you already know and identify new skills you will want to develop.

    <p><a href="https://www.californiacolleges.edu/#/" class="font-weight-bold" target="_blank">CaliforniaColleges.edu</a> provides <a href="https://www.californiacolleges.edu/#/career-search" class="font-weight-bold" target="_blank">career search tools</a> and an <a href="https://www.californiacolleges.edu/#/interest-profiler" class="font-weight-bold" target="_blank">Interest Profiler</a> that may help you explore your interests and discover your skills. Your school counselor or career center technician will help you with your interest inventories that might be available in your high school Career Center.

    <p>If you want to complete a <a href="https://www.cacareerzone.org/" class="font-weight-bold" target="_blank">personal assessment</a> at home, you can consult many online career Web sites. When you take an inventory, it is recommended that you be as honest as possible about your interests and skills. Answer for yourself, not what your parents, teachers, or counselors might think are your interests and skills. View these career exploration videos. 
</div>

<div class="container mt-4 mb-4">
    <h4>EXPLORING COMPATIBLE CAREERS</h4>
    <p>You have determined your interests, assessed your skills, and are now ready to explore careers. You are looking for a satisfying career that pays well, is creative and challenging, and provides you with an opportunity to balance work and leisure. Although there are many resources for career information, three of the most useful and comprehensive sources are California Career Zone, BLS, and Road Trip Nation.  These free resources are available on the Internet.

    <h5>BUREAU OF LABOR STATISTICS</h5>
    <p>The <a href="https://www.bls.gov/k12/students/careers/career-exploration.htm" class="font-weight-bold" target="_blank">Bureau of Labor Statistics</a>’ site provides introductory career information for students. Most of the material on the site has been adapted from the Bureau’s <a href="https://www.bls.gov/ooh/" class="font-weight-bold" target="_blank">Occupational Outlook Handbook</a>. 
    
    <h5>ROADTRIP NATION</h5>
    <p><a href="https://roadtripnation.com/" class="font-weight-bold" target="_blank">RoadTrip Nation</a> lets you see how people like you found work that they love. Whether you're exploring new career paths or looking for inspiration, find the guidance you need from the stories of others.
    
    <p>Roadtrip Nation presents <strong>web casts of people in numerous occupations</strong>, ranging from the editor of Seventeen Magazine, to an animator at Pixar, to a NASA scientist, to an auto shop owner, Roadtrip Nation has been providing <strong>candid advice for students through stories for more than 20 years</strong>.

    <h5>CALIFORNIA CAREER ZONE</h5>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Career3.jpg" class="float-left mr-3" style="width: 325px; height: 205px;">
    <p>The <a href="https://www.cacareerzone.org/clusters" class="font-weight-bold" target="_blank">California Career Zone</a>, developed by the California Career Resource Network, the California Department of Education, and the Employment Development Department’s Labor Market Information Division, is an interactive Web site.  It is designed especially for students to explore exciting jobs and occupations that California has to offer and to learn about what career paths are of interest to you.

    <p>You can work through the Interest Profiler, Work Importance Profiler, and Assess Yourself to discover your personal interests, skills, and values, in preparation for making educational and career choices. <strong>You can learn about 900 occupations, specific wages, worker attributes, job characteristics, and job openings from America’s Job Bank</strong>. The Reality Check section is a great way to understand what choosing a career, becoming an adult, and entering the world of work is all about. 

    <p>Whether you decide to be an automobile mechanic, a dental assistant, a soldier, a teacher, or a nurse, you will need 21st century skills to be an effective worker. As you prepare for post secondary education and training, you will add to the skills that you already possess. Start now and continue your quest for success through life-long learning. One of the best ways to improve your employment skills is through part-time jobs, starting in high school.   

</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/20/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (20)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/22/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (22)</a>
    </div>
  </div>
</div>

{% endblock %}