{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">More Post Secondary Options</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/19/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (19)</a>
    </div>

    <div class="col float-right">
        <a href="/journey/21/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (21)</a>
    </div>
  </div>
</div>

<div class="container mb-4">
    <h4>REGIONAL OCCUPATIONAL CENTERS & PROGRAMS</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/ROCP.jpg" class="float-right ml-3" alt="ROCP" style="width: 300px; height: 190px;">
    <p><a href="https://www.cde.ca.gov/ds/si/rp/" class="font-weight-bold" target="_blank">Regional Occupational Centers and Programs (ROCPs)</a> have existed in California for over forty years and currently serve more than half a million high school students and adults in 74 ROCPs. ROCPs are designed to provide California students with quality career technical education and workforce preparation.  

    <p>Numerous programs are offered in such fields as information technology, business, culinary arts, heath care fields, automotive technology, carpentry, merchandising, cosmetology, and computer science. Many courses are articulated for credit with community colleges and universities, while others may lead to certification and employment.

    <p>Students are encouraged to consult with their school counselor to find out the availability, times, and location of classes in your area.</p>
</div>
<div class="container mb-4">
    <h4>AMERICORPS</h4> 
    <p>Each year over 75,000 men and women join <a href="http://www.nationalservice.gov/programs/americorps" class="font-weight-bold" target="_blank">AmeriCorps</a> — a network of local, state, and national service programs in education, public safety, health, and the environment. AmeriCorps members work in local communities in the United States on such projects as tutoring and mentoring disadvantaged youth, fighting illiteracy, improving health services, building affordable housing, teaching computer skills, cleaning parks, coastlines and streams, helping to manage after-school programs, and responding to natural disasters.
    
    <p>AmeriCorps members learn teamwork, communication skills, and responsibility. To qualify for AmeriCorps, you must be a United States citizen, a United States national, or lawful permanent resident of the United States and be 18 years of age or older.

    <p>Full-time members of AmeriCorps who complete one year of service <strong>earn an award of $6,200</strong> to assist with college, graduate school, or to pay back qualified student loans. In addition, many AmeriCorps members receive a modest living allowance to cover basic expenses.</p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Americorps.jpg" class="float-left mr-5 pt-2 pl-4 ml-5" style="width: 360px; height: 250px;">
        <br><p class="container lead text-left mt-4 mb-3 mr-0"> "After high school, I decided to take a year off to figure out what I wanted to do with my life. A friend told me about AmeriCorps, so I tried it out. This year building affordable homes was one of the best experiences of my life, and the $6,200 helped with my college expenses."
        <br><br>- Kevin, AmeriCorps graduate</p>
        <br><br>
</div>

<div class="container mt-4 mb-4">
    <h4>CALIFORNIA CONSERVATON CORPS</h4> 
    <p> The <a href="https://ccc.ca.gov/" class="font-weight-bold" target="_blank">California Conservation Corps (CCC)</a> program emphasizes workforce development. Programs include environmental conservation in the wilderness, fire protection, and emergency response covering fires, floods, oil spills, and earthquakes.  CCC members learn teamwork, self-discipline, confidence, and receive technical skills and training.

    <p>In the Backcountry Trails Program which lasts for five months, crew members receive $1,387 a month less a deduction of $325 for food, health insurance, and an educational award of about $2,360 upon completion of the program. Applicants must be between 18 and 25 years of age and cannot be on probation or parole. After completing college, many graduates of the Backcountry Trails Program later become environmental workers at the state or federal levels.
</div>

<div class="container mt-4 mb-4">
    <h4>JOB CORPS</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/JobCorps.jpg" class="float-right ml-3" style="width: 300px; height: 210px;">
    
    <p>The <a href="https://www.jobcorps.gov/" class="font-weight-bold" target="_blank">Job Corps</a> is administered by the U.S. Department of Labor and is a no-cost education and vocational training program helping 75,000 students each year. It is designed for those individuals who wish to learn a marketable trade in areas such as health care, information technology, automotive, and construction industries. 

    Participants receive a monthly allowance, live in a campus-like setting with dormitories, earn a high school diploma or equivalent, and receive help in finding a good job. 
    
    <p>Students learn personal responsibility, job search, and computer skills required in the workplace. They also create a personal career plan. After finding a job, graduates of the program get a year of career counseling and help to find housing, transportation, and health care. Applicants must be between 16 and 24 years of age, be a U.S. citizen or legal resident, and meet income requirements.</p>
</div>


<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/19/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (19)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/21/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (21)</a>
    </div>
  </div>
</div>
{% endblock %}