{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Choosing the Right College</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (5)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (7)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>FINDING YOUR PATH</h4>

    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CollegePath1.jpg" class="float-right ml-3 pb-2" style="width: 350px; height: 240px;">
    <p class="mb-4">ONE of the most important decisions or challenges you will face in life will be what college or university to attend. While attending college you will pursue your career goals, broaden your interests, and make new friends. Remember, <strong>these choices may well impact the rest of your life</strong>.
    <br><br>
    The question may not be, What is the “best” college to attend?  It may well be, <a href="https://bigfuture.collegeboard.org/find-colleges/how-find-your-college-fit" class="font-weight-bold" target="_blank">What is the “right” college for me</a>? Much time and thought should be given to researching a college. This section of the Guide is designed to assist you in making good decisions and refine your choices in selecting colleges. <a href="https://www.californiacolleges.edu/#/search" class="font-weight-bold" target="_blank">CaliforniaColleges.edu's search tool</a> will help you find colleges based on what is important to you.
    <br><br>
    You will probably want to <strong>generate a list of 10 to 20 colleges</strong> to carefully research in depth. From there, you should probably apply to six or seven colleges and universities. They would include colleges which would be a “<strong>sure thing</strong>” for you to be admitted, colleges which “<strong>maybe” or “probably</strong>” might admit you and where you believe you will be happy, and colleges which may be a “<strong>stretch” or “dream</strong>” for you to be admitted.
    </p>
</div>
<div class="container">
<hr>
    <h4>FACTORS TO CONSIDER</h4>
    <br>
<dl class="row">
  <dt class="col-sm-3">Reputation of the College</dt>
  <dd class="col-sm-9">How is the college ranked nationally? For example, U.S. News and World Report and Fiske Guide rate schools yearly on factors such as reputation, student-faculty ratio, SAT/ACT scores, and retention/graduation rate. This factor may have an impact on your future employment activities or admission to a graduate school of your choice.</dd>
    
  <dt class="col-sm-3">Selectivity</dt>
  <dd class="col-sm-9">How difficult is it to be accepted to the college?  What criteria are they looking for in order to be admitted (for example, SAT/ACT scores, grade point average, numbers of honors or advanced placement classes, student activities and athletics, leadership roles, admission essays)?</dd>

  <dt class="col-sm-3">Accreditation</dt>
  <dd class="col-sm-9">Is the college accredited by a regional accreditation body, such as the Western Association of Schools and Colleges?</dd>

  <dt class="col-sm-3">Major or Academic Department</dt>
  <dd class="col-sm-9">Does the college have a strong program of study in the <a href="https://blog.collegeboard.org/the-ultimate-guide-to-choosing-a-major" class="font-weight-bold" target="_blank">major or area of interest</a> you wish to pursue (for example, science, math, business, engineering, nursing, education, or the arts)?</dd>

  <dt class="col-sm-3">Special Programs</dt>
  <dd class="col-sm-9">Is there a range of available internships, research,  creative projects, or study abroad programs?</dd>

  <dt class="col-sm-3">Class Size</dt>
  <dd class="col-sm-9">How large are typical classes (for example, large lecture classes or small discussion-type classes)? This may have an impact on how much interaction you will have with professors. This is particularly important in your major field of interest. These same professors will act as mentors, assist you with career pursuits, and write letters of recommendation for future employment opportunities or graduate schools.</dd>

  <dt class="col-sm-3">Academic Facilities</dt>
  <dd class="col-sm-9">Are there adequate facilities available (for example, science labs, Internet capabilities, library resources)?</dd>

  <dt class="col-sm-3">Location</dt>
  <dd class="col-sm-9">Are you going to commute from home to college? How far are you willing to live away from home? Do you want to live in a climate that is warm, moderate, or seasonal? Do you want to live in an urban, suburban, or rural environment? The size of a geographical area can also be a factor in you being able to get part-time employment if you need it.</dd>

  <dt class="col-sm-3">Size of College</dt>
  <dd class="col-sm-9">How comfortable would you feel at a small, medium, or large-size college?  Will you be overwhelmed at a large college versus a smaller college which may provide a more intimate setting?</dd>

  <dt class="col-sm-3">Type of College</dt>
  <dd class="col-sm-9">California Community college? Four-year independent college? Four-year church-related college? Same sex college? Historically black or Hispanic colleges? Military school? Out of state college? California State University campus? University of California campus? Each type of college has advantages and disadvantages. You will need to decide which suits you best.</dd>

  <dt class="col-sm-3">Housing</dt>
  <dd class="col-sm-9">If you are living away from home, are there adequate dormitory or rental facilities available?  Will you be comfortable with roommates?  How long is housing guaranteed?</dd>

  <dt class="col-sm-3">Cost</dt>
  <dd class="col-sm-9">To what extent will cost be a factor in your decision-making?</dd>

  <dt class="col-sm-3">Support Services</dt>
  <dd class="col-sm-9">To what extent are things such as health facilities, recreational facilities, library services, counselors, and computer labs of importance to you?</dd>

  <dt class="col-sm-3">Student Body</dt>
  <dd class="col-sm-9">Is the student body diverse ethnically and socio-economically? Is this of relevance to you?</dd>

  <dt class="col-sm-3">Campus Life</dt>
  <dd class="col-sm-9">To what extent are a student union, social activities, fraternities, sororities, student clubs, organizations, leadership opportunities, athletic activities, and cultural activities of interest to you? These could be major considerations if you intend to live away from home.</dd>

  <dt class="col-sm-3">Campus Safety</dt>
  <dd class="col-sm-9">Do you believe you will be safe on a particular campus?  Are there  “safety” features such as blue light phones for 911 access, secure dorm access,  24-hour security patrols, and late night security personnel to walk or drive you to your car or dorm?  Get a copy of the latest campus crime statistics for a college of interest to you.  This is usually available online at a college’s Web site.</dd>

  <dt class="col-sm-3">Special Assistance</dt>
  <dd class="col-sm-9">If you have a disability, does the college provide adequate personal assistance? Are there learning or tutoring labs for math and writing available?</dd>

</dl>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (5)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_7/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (7)</a>
    </div>
  </div>
</div>
    {% endblock %}