{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (8)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/10/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (10)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>CALIFORNIA'S PUBLIC COLLEGES AND UNIVERSITIES</h4>
    <h5 class="mb-3">In California, you have access to the largest network of colleges in the world.</h5> 
  
    <p class="mb-4">In this section of the Guide, you will have the opportunity to learn about the California Community College System, transfer opportunities from a California community college to a California State University or UC Campus, the California State University System, the University of California System, independent universities, studying abroad, military schools, and distance learning.</p>
</div>

 <div class="row container justify-content-center mb-0 pl-0 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UC+card.jpg" alt="University of California" style="width:100%; border: solid black 1px; border-radius: 5px;">
        <div class="caption">
        <br>
          <p class="ml-1"><strong>SELECTION</strong>: Top 12.5% of high school graduates. 
          <br><br>
          <strong>PROGRAMS</strong>: Undergraduate and graduate degree programs, including law, dental, pharmacy, and medical schools.
          <br><br>
          <strong>STUDENTS</strong>: Almost 240,000
          <br><br>
          <strong>CAMPUSES</strong>: 10
          <br><br>
          <strong>ESTIMATED COSTS</strong>: <strong>$29,500</strong> for fees, room and board, books and supplies if living at home and commuting.
          <br><br>
          <strong>ENTRANCE REQUIREMENTS</strong>: Top 12.5% of high school graduates statewide or other criteria; 15 required a-g courses and appropriate admission tests.</p>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSU+card.jpg" alt="California State Univesity" style="width:100%; border: solid black 1px; border-radius: 5px;">
        <div class="caption">
        <br>
          <p class="ml-1"><strong>SELECTION</strong>: Top 33% of high school graduates. 
          <br><br>
          <strong>PROGRAMS</strong>: Undergraduate and graduate degree programs.
          <br><br>
          <br><br>
          <strong>STUDENTS</strong>: Over 460,000
          <br><br>
          <strong>CAMPUSES</strong>: 23
          <br><br>
          <strong>ESTIMATED COSTS</strong>: <strong>Approx. $17,500</strong> for fees, room and board, books and supplies if living at home and commuting.
          <br><br>
          <strong>ENTRANCE REQUIREMENTS</strong>: Top third of high school graduates statewide; 15 required a-g courses and appropriate admission tests.</p>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CCC+card.jpg" alt="California Community Colleges" style="width:100%; border: solid black 1px; border-radius: 5px;">
        <div class="caption">
        <br>
          <p class="ml-1"><strong>SELECTION</strong>: High school graduates or adults 18 or older. 
          <br><br>
          <strong>PROGRAMS</strong>: Two-year associate degrees; vocational programs; certificate programs; transfer opportunities to UC or CSU.
          <br><br>
          <strong>STUDENTS</strong>: Over 2.5 million
          <br><br>
          <strong>CAMPUSES</strong>: 115
          <br><br>
          <strong>ESTIMATED COSTS</strong>: California residents currently pay <strong>$46 per unit</strong> for community college courses. See <a href="https://home.cccapply.org/en/money/california-college-promise-grant" class="font-weight-bold" target="_blank">California Promise</a>.
          <br><br>
          <strong>ENTRANCE REQUIREMENTS</strong>: Open to all California residents 18 or older, including those without a high school diploma. Student may attend college anywhere in state.</p>
        </div>
    </div>
  </div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (8)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/10/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (10)</a>
    </div>
  </div>
</div>
    {% endblock %}

    