{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Life After High School</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (3)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (5)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>AVOIDING FINANCIAL AID OR SCHOLARSHIP SCAMS</h4>
    <h6 class="text-danger">If you have to pay money to get money for financial aid, it is probably a scam!</h6> 
    <br>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/ScholarshipScam.jpg" class="float-left mr-4" style="width: 250px; height: 150px;">
    <p>Every year students and parents  are cheated out of more than $100 million dollars.  According to the Federal Trade Commission,  common signs of a 
    scam which you should watch out for include:</p>
    <div class="">
    <p>• There is a scholarship application fee.
    <br>
    <p>• The scholarship is guaranteed or your money back.
    <br>
    <p>• They say "this information can't be found anywhere else".
    <br>
    <p>• The company asks for your credit card number, social security number, ATM pin, or bank account number to hold a scholarship for you.
    <br>
    <p>• The company advertises that "they will do all the work for you".
    <br>
    <h5 class="text-danger">Be a smart consumer! Never pay money to get money.</h5> 
    <br>
    <h4>SCHOLARSHIP ESSAYS</h4>
    </p>
</div>
<div>
    <p class="mb-4">Since many scholarships require an application essay, you’ll want to <a href="https://myscholly.com/how-to-write-a-scholarship-essay/" target="_blank" class="font-weight-bold">know how to write one</a> that will persuade the selection board that you’re the right person to receive the money available! 
    If done right, your scholarship essay is a window into your unique world. It gives the readers a sense of you as a dimensional person—beyond what GPA alone can reflect. You get to showcase your unique voice and tone, which is exciting! 
    <br><br>And yes, they can even be fun to write! Here is a list <a href="https://myscholly.com/how-to-win-college-scholarships/" target="_blank" class="font-weight-bold">scholarship winning tips</a> anyone can use to win big.
    </p>
</div>
<hr>
    <h4 class="text-center mt-4">SCHOLARSHIPS</h4>
<div class="row container mt-4 mb-0 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/general-student-square.jpg" alt="Middle School" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Search Engines</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/foster-youth-scholarships.jpg" alt="Prepared" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">General Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/african-american-female-cap-and-gown1-square.jpg" alt="Journey" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Foster Youth Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/immigrant-scholarships1.jpg" alt="Healthy Living" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Immigrant Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
 <div class="row container mt-3 mb-5 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/african-american-scholarships.png" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">African American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/asian-american-scholarships.jpg" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Asian American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/hispanic-american-scholarships.jpg" alt="Notes" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Hispanic American Scholarships</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/native-american-scholarships.jpg" alt="Favorites" style="width:90%; border-radius: 10px;">
        <div class="caption">
            <br>
            <p class="">Native American Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row container mt-3 mb-4 pl-4 mx-auto">

  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/LGBTQ-scholarships.jpg" alt="Homework Help" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">LGBTQ+ Scholarships</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Scholarships/womens-scholarships.jpg" alt="Scholarships" style="width:90%; border-radius: 10px;">
        <div class="caption">
        <br>
          <p class="">Women's Scholarships</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (3)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_5/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (5)</a>
    </div>
  </div>
</div>
    {% endblock %}