{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_13/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (13)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_15/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (15)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>THE UNIVERSITY OF CALIFORNIA SYSTEM</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UCPic1.jpg" class="float-right mr-3" style="width: 300px; height: 210px;">
    <p>The UC System is among the world’s greatest educational and research universities. More than 220,000 students attend college on ten campuses throughout California (see map on page 59). Programs are offered in over 150 disciplines. <strong>You are strongly encouraged by the UC system to apply online and track admissions information</strong>. View these UC Parent Prep Webinars. 
    
    <p>There are three ways for you to gain admission to the UC system as a freshman:

    <p><strong>Eligibility in the Statewide Context</strong> — Students who meet minimum requirements for coursework (“a-g” requirements), GPA, and test scores (ACT Assessment plus writing or SAT Reasoning Test) are admitted by this path. This is the path most students take to enter UC. 

    <p><strong>Eligibility in the Local Context</strong> — Students who rank in the top nine percent at participating California high schools and have required classes may be admitted in this manner.

    <p><strong>Eligibility by Examination Alone</strong> — Students may qualify for admission by achieving high scores on the ACT Assessment plus Writing or SAT Reasoning Test and on two different SAT Subject Tests (not including Math Level 1).

    <p><strong>California students who are designated as “UC Eligible” by one of the three paths previously mentioned are guaranteed admission, but not necessarily to the campus or program of their choice</strong>. In all cases, however, students must have a GPA of 3.0 or above in all transferable coursework.
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-2 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UCPic2.jpg" class="float-left mr-5 pl-4 ml-5" style="width: 400px; height: 270px;">
        <p class="container lead text-left pb-0 pt-3 mr-0"><em><strong>NEW UC “BLUE AND GOLD”FINANCIAL AID PLAN:
        <br><br>
        UC now offers adequate scholarship and grant assistance to fully cover students’ systemwide UC fees for California families with income of $60,000 or less and who meet eligibility requirements for need-based financial aid. In addition, eligible students showing sufficient financial need will receive grants to assist with the cost of books, housing, food, and transportation. Financial aid estimators are available at www.universityofcalifornia.edu/admissions/paying.html. 
        </strong></em></p>
</div>

<div class="container mt-4 mb-4">
    <h4>PERSONAL INSIGHT QUESTIONS</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UCPic3.jpg" class="float-right ml-5" style="width: 400px; height: 270px;">
    <p>You will have 8 <a href="https://admission.universityofcalifornia.edu/how-to-apply/applying-as-a-freshman/personal-insight-questions.html" class="font-weight-bold" target="_blank">personal insight questions</a> to choose from. You must respond to only 4 of the 8 questions. Each response is limited to a maximum of 350 words.

    <p>Which questions you choose to answer is entirely up to you: But you should select questions that are most relevant to your experience and that best reflect your individual circumstances. This is an important part of the admissions process since it is a way for the University to learn more about you beyond test scores and grades (for example, your talents, experiences, achievements, and points of view). 
    
    <p><strong>This is an opportunity for you to make your “best” possible case for admission
    </strong>.  All questions are equal: All are given equal consideration in the application review process, which means there is no advantage or disadvantage to choosing certain questions over others.

    <p>There is no right or wrong way to answer these questions: It’s about getting to know your personality, background, interests and achievements in your own unique voice. 

</div>
 
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_13/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (13)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_15/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (15)</a>
    </div>
  </div>
</div>
{% endblock %}