{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Career Planning and Tools</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/22/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (22)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/24/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (24)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>RESUME WRITING TIPS</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Resume1.jpg" class="float-left pr-3" style="width: 325px; height: 210px;">

    <p>You will need to <a href="https://resumegenius.com/resume-samples" class="font-weight-bold" target="_blank">prepare a personal resume</a>. A resume is a one or two page summary of your skills, accomplishments, experiences, and education, designed to capture an employer’s interest and get you an interview. It is your personal poster or Web page telling about yourself and why you are qualified for the job.  
    <p><strong>Here are some tips</strong>:</p>
</div>
    
<div class="container mt-3 pl-5 mb-4">
    <p>• Start your resume with the job objective at the beginning.
    <p>• Show your best attributes and skills so the employer will want to meet you.
    <p>• Make your experience and education appropriate to the job you are seeking.
    <p>• Be honest about what you list.
    <p>• Ask someone like a school counselor, career center technician, or teacher to read your draft and give you suggestions.
    <p>• Organize your experiences and skills on your resume to help you prepare for an interview.
    <p>• Always prepare a well-organized, easy-to-read printed resume (<strong><span class="text-danger">hand written resumes are not acceptable</span></strong>).
    <p>• Check for correct spelling and grammar. There should not be any errors.
    <p>• Allow plenty of time to develop your resume.
    <p>• Ask your teacher, school counselor, club advisor, or coach to be a reference.
    </p>

</div>

<div class="container mt-4 mb-4">
    <p>There are <a href="https://www.indeed.com/career-advice/resume-samples" class="font-weight-bold" target="_blank">many types of resumes</a> and many resources for resume writing, both in books and on the Internet. Electronic resumes may also be used and may have different guidelines. Below is a sample resume. You can use it as a model to begin putting together your personal resume.
</div>

<div class="container mt-4 mb-4">
    <h4>COVER LETTERS</h4>
    <p><a href="https://www.thebalancecareers.com/cover-letters-4161919" class="font-weight-bold" target="_blank">Cover letters</a> accompany resumes sent by mail and may be as important as your resume. Cover letters are customized to fit the job being sought. An excellent cover letter:   
</div>
<div class="container mt-3 pl-5 mb-4">
    <p>• Addresses a specific person.
    <p>• Identifies the job you are applying for and how you found out about it.
    <p>• Summarizes your skills.
    <p>• Tells the employer when you are available for an interview and when you can start work.
    <p>• Provides information on how to contact you.
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/22/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (22)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/24/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (24)</a>
    </div>
  </div>
</div>

{% endblock %}