{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Career Planning and Tools</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/21/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (21)</a>
    </div>

    <div class="col float-right">
        <a href="/journey/23/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (23)</a>
    </div>
  </div>
</div>

<div class="container mb-4">
    <h4>TOOLS FOR YOUR FIRST JOB</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Inteview.jpg" class="float-right ml-3" alt="Career Tools" style="width: 300px; height: 190px;">
    <p>It is not too early to think about getting that first part-time job. The Partnership for 21st Century Skills determined three important skill areas as well as specific skills needed for success in the 21st century work force: information and communication skills, thinking and problem-solving skills, and interpersonal and self-directional skills.  
    
    <p><strong>The 10 top skills and qualities employers seek are</strong>:</p>
</div>
<div class="container mt-3 pl-5 mb-4">
    <p>1. Communication skills (verbal and written)
    <p>2. Honesty/integrity
    <p>3. Teamwork skills (working with others)
    <p>4. Interpersonal skills (relating well to others)
    <p>5. Motivation/initiative
    <p>6. Strong work ethic
    <p>7. Analytical skills (breaking down the pieces before reaching a conclusion)
    <p>8. Flexibility/adaptability
    <p>9. Computer skills
    <p>10. <strong>Self-confidence</strong>
    </p>
</div>
<div class="container mb-4">
    <p>You will build your skills through your class work, participation in school and community activities, volunteer service, and through part-time employment. Getting jobs in your career area will help you to discover whether this is the right field for you.  
    
    <p><strong>Most high school students want to get a job, but aren’t sure where and how to begin</strong>. This section of the Guide prepares you for work during high school with tips on resume writing and portfolios, job applications, cover letters, and interviews.</p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CareerTools2.jpg" class="float-left mr-5 pt-2 pl-4 ml-5" style="width: 360px; height: 250px;">
        <br><p class="container lead text-left mt-4 pb-5 mr-0"> <em>I carefully prepared my resume, practiced my interviewing skills, dressed for success, and <strong>I got the job</strong>!
        <br><br>- Anthony, high school senior</em></p>
        <br><br>
</div>

<div class="container mt-4 mb-4">
    <p> There are many resources to assist you in looking for part-time jobs.  It is to your advantage to widen your search by using more than one. <strong>Check off the ones you will use</strong>:</p>
</div>

    <div class="container pl-5">
        <div class="row">
            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Networking with friends, relatives, neighbors, teachers, employers, clergy
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                School Career or Work Experience Office
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Knocking on employers’ doors (for example, at malls or supermarkets)
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Internet searches on sites like Indeed or LinkedIn
                </label>
            </div>
            <div class=" col-6 pl-4 mb-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Public Employment Agencies (YouthSource & WorkSource Centers)
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Temporary Employment Agencies
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                “Employment Openings” posted in some public libraries
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Volunteer Work
                </label>
            </div>
        </div>
    </div>
<div class="container mt-4 mb-4">
    <br><h4>NETWORK FOR SUCCESS</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Networking.jpg" class="float-right ml-3" style="width: 300px; height: 210px;">
    
    <p>According to the U.S.  Department of Labor, about <strong>80% of available jobs are never advertised</strong>.  These jobs are part of what is called the “hidden” job market.  Many businesses use word of mouth to find new employees. Therefore, it is important for you to network, that is, talk to people you know to learn about jobs and find jobs. 

    <p>Hold an informational interview with at least three of these people. This is simply gathering information through contacts. Take notes. Ask them about their career path. Why did they choose their particular career? What does a typical day look like for them? What education/training is required? Where can you find more information about their career field? What about future openings in the field? You may also want to inquire as to the possiblity of getting a summer job or internship in their organization.

    <p>Shadow one or more of these people at their place of work for a day during one of your holiday breaks or vacations. How did you like the work environment? Is this a career field which might match your talents and interests?</p>
</div>

<div class="container mt-4 mb-4">
    <h4>MARKETING YOURSELF</h4> 
    <p>Marketing your way to success is simply selling yourself to a future employer. What can you offer this employer? The ten top skills and qualities employers seek are found on the top of page 56. These skills and qualities are strong marketing points and should be discussed in your resume, cover letter, and during the interview process.

    <p><strong>Practice writing a reply</strong> to one of the most frequently asked interview questions which an employer asks: <strong>Why should I hire you? <span="text-danger">This is your chance to market yourself!</span></strong></p>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/21/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (21)</a>
    </div>

    <div class="col float-right">
        <a href="/journey/23/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (23)</a>
    </div>
  </div>
</div>
{% endblock %}