{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_16/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (16)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_18/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (18)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>STUDYING ABROAD</h4>
    <p>In this era of increased globalization, almost a quarter of a million American students <a href="https://www.studyabroad.com/worldwide" class="font-weight-bold" target="_blank">study abroad</a> each year. Many American colleges and universities offer study abroad programs. Some programs combine study with travel. Many foreign universities offer programs and courses in English. It is also possible for Americans to pursue an undergraduate degree in a foreign university instead of studying in the U.S. The <a href="https://www.iie.org/" class="font-weight-bold" target="_blank">Institute of International Education</a> provides a good jumping off point to research study abroad.</p>
</div>

<div class="container mt-4 mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/MilitaryAcademies1.jpg" class="float-left mr-3" style="width: 320px; height: 215px;">
    <h4>U.S. MILITARY ACADEMIES</h4>
    <p>In addition to the many opportunities which exist at public and private institutions, you may wish to consider attending the <a href="https://www.uscga.edu/" class="font-weight-bold" target="_blank">U.S. Coast Guard Academy</a>, the <a href="https://www.usna.edu" class="font-weight-bold" target="_blank">U.S. Naval Academy</a>, the <a href="https://www.westpoint.edu/" class="font-weight-bold" target="_blank">U.S. Military Academy</a>, the <a href="https://www.usafa.af.mil/" class="font-weight-bold" target="_blank">U.S. Air Force Academy</a>, or the <a href="https://www.usmma.edu/" class="font-weight-bold" target="_blank">U.S. Merchant Marine Academy</a>. Majors are available in many fields of study. 
    
    <p><strong>Graduates of these institutions receive a commission as an ensign in the Navy or Coast Guard or second lieutenant in the Army, Air Force, or Marine Corps upon graduation</strong>. Graduates of the Merchant Marine Academy also have a service obligation upon graduation. They also must complete a five year commitment to serve in the military after graduation. Tuition, board and room, and medical and dental care are free of charge. In addition, students also receive a small monthly salary.

    <p>The Naval Academy, West Point, the Air Force Academy, and the Merchant Marine Academy also require nomination for appointment (which is competitive in nature) from a U.S. Representative, U.S. Senator, or Vice President of the United States depending upon the Academy. The U.S. Coast Guard Academy has an annual nationwide competition.

    <p>The <strong>service academies are quite selective</strong> in nature and have many requirements in their admissions process. Interested students should apply during their junior year for consideration and consult online resources for specific admission requirements and deadlines.</p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/DistanceLearning.jpg" class="float-right mr-5 pl-4 ml-5" style="width: 370px; height: 240px;">
        <br><p class="container lead text-left pl-5 ml-4 mt-5 pb-5 mb-4 mr-0"><em><strong> A good place to start your research</strong> would be to look at the resources regarding courses and programs found online at the <a href="https://cvc.edu/" class="font-weight-bold" target="_blank">California Virtual Campus</a>. 
        </strong></em></p><br>
</div>

<div class="container mt-4 mb-4">
    <h4>DISTANCE OR E-LEARNING PROGRAMS</h4>
    <p>A growing number of colleges and universities throughout the United States are offering courses through “distance learning,” that is, on the Internet.  Over four million people take these courses each year. <strong>They are designed primarily for students who wish to take courses at other colleges or universities, for adults working full-time who need to further their education, stay at home moms, or for those individuals who wish to complete certificate, associate, or bachelor’s degrees online</strong>.  Some of the largest degree-granting online programs include the University of Maryland, University of Phoenix, and Troy University in Alabama. 

    <p>Students who enroll in distance learning courses are generally somewhat older than those who attend a traditional campus, and are highly motivated and self-disciplined to manage their own time. They don’t mind missing the campus “scene” and face-to-face contact with professors and other students. Many times the trade-offs for them are being able to “attend” class on the Internet twenty-four hours a day, seven days a week, not having to commute to campus or find parking, studying and doing assignments at their own pace, and adjusting to their own job schedule. These distance learners use various types of technology to learn, such as, message boards, online forums, podcasts, online lectures, video conferencing, and e-mails. They send and receive information electronically, download videos, and listen to podcasts.
    <h6><strong>Five questions which you may want to ask when choosing an online education are:</strong></h6> 
</div>
<div class="container mt-4 pl-5 mb-4">
    <p>1. Is the program accredited through a regional accrediting association (for example, Western Association of Schools and Colleges or North Central Association of Colleges and Schools)?
    <p>2. How long has the institution been offering distance learning?
    <p>3. What kind of computer equipment and internet connectivity do you need?
    <p>4. What type of technical support will you receive by telephone or online and how many hours a day is it available (for example, 24 hours/day, seven days/week)?
    <p>5. What tuition and fees are required in order to take the classes?
    </p>
</div>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_16/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (16)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_18/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (18)</a>
    </div>
  </div>
</div>

{% endblock %}