
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_10/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (10)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_12/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (12)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>TRANSFERRING TO A CSU, UC CAMPUS OR OTHER FOUR-YEAR UNIVERSITY</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Transfer1.jpg" class="float-left mr-3" style="width: 300px; height: 210px;">
    <p>Each year thousands of students transfer to four-year institutions from California Community Colleges. It is <strong>extremely important</strong> for students who are considering transferring to a CSU, UC, or other four-year institutions to <strong><em>work closely with their community college counselors at the time of admission</em></strong> to discuss this goal. 
    
    <p>If you know the specific campus or major you want to target, you will be more successful in transferring courses. Students should balance their course load by taking both general education courses and lower division courses in their proposed major. In addition, many community colleges offer written transfer guarantee programs for specific universities. 
    
    <p>The newly developed <a href="http://www.adegreewithaguarantee.com/" class="font-weight-bold" target="_blank">AA-T and AS-T</a> degrees make the transfer to the California State University system smoother. You should also refer to the college catalog of the institution you wish to attend to double-check transfer requirements. 
    
    <p><strong>A tool which you are strongly advised to use is <a href="http://www.assist.org/web-assist/welcome.html" class="font-weight-bold" target="_blank">ASSIST</a></strong>. It is a Web-based student transfer information system where you can explore transfer information for California public two-year and four-year institutions. All of these resources will ensure that classes you might take will be transferable.
</div>
<div class="container mt-4 mb-4">
<hr>
<h5>In order to transfer from a California Community College to a CSU campus, admission officers look at several factors:</h5>
    <br>
    <p class="pl-5">• High school requirements (courses which you took in high school, grades, test scores, if you are a high school graduate).
    <br><br>• A minimum college GPA of 2.0. Some high-demand majors and campuses may require a higher GPA  (for example, all majors at CSU, San Luis Obispo and most majors at San Diego State are impacted  or overcrowded as is a major in architecture at Cal Poly, Pomona).
    <br><br>• Whether or not you are in “good standing” at your last college (eligible to re-enroll).
    </p>
</div>

<div class="container mt-4 mb-4">
    <p>Some CSU campuses also require you to complete certain English composition and mathematics courses with a grade of  “C” or higher.

    <p>The CSU system recommends that if you are a lower-division student and do not meet the eligibility index from high school, you can enroll at a California Community College and complete 60 or more transferable semester units before attempting to transfer. 
</div>

<div class="jumbotron jumbotron-fluid mb-4 mt-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Transfer2.jpg" class="float-right mr-5 ml-4" style="width: 400px; height: 270px;">
        <br><p class="container lead text-left pb-3 mb-5 pt-4"> <em><strong>Each year, over 80,000 students transfer to CSU campuses from California Community Colleges. The University of California gives California Community College students first priority to transfer over all other transfer applicants. More than 90% of transfer students offered admission are California Community College students.
        </strong></em><br><br></p>
</div>

<div class="container mt-4 mb-4">
    <p> About one-third of all UC bachelor’s degrees are awarded to students who start at a community college. Two-thirds of all students who transfer from a California Community College graduate from a UC campus within three years. 

    <p><strong>Academically, community college transfer students perform equally as well as students who started at a UC campus as a freshman</strong>.
	
    <p>Since UC admits a limited number of transfer students each year (about 16,500 students from California Community Colleges), this means that community college students MUST complete 60 semester units prior to transferring. Initially, transfer students are evaluated to see if they meet minimum eligibility requirements (minimum GPA of 3.0 in transferable courses). Then, if a campus or program has more applicants than they can admit, a comprehensive review is made for a prospective student. 
    
    <p>Factors which are considered in this review process include:
</div>

<div class="container pl-5 mt-4 mb-4">
    <p>• Completion of a specified pattern or number of courses that meet breadth/general education requirements.
    <p>• Completion of a specified pattern or number of courses that provide continuity with upper division courses in the student’s major.
    <p>• Grade point average in all transferable courses.
    <p>• Participation in academically selective honors courses or programs.
    <p>• Special talents, achievements, and awards in a particular field, special skills, special interests, demonstrated leadership, significant participation in community service or student government, and significant life experiences.
    <p>• Completion of college special projects.
    <p>• Academic accomplishments in light of life experiences.
    <p>• Location of the student’s college and residence. 
    </p>
</div>

<div class="container mt-4 mb-4">
<p><strong>Students who wish to transfer to other four-year institutions should consult the respective college catalogs and talk to admission officers about specific requirements.</strong></p>
</div>
 
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_10/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (10)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_12/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (12)</a>
    </div>
  </div>
</div>
{% endblock %}