{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Choosing the Right College</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (6)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (8)</a>
    </div>
  </div>
</div>
<div class="container mb-1">
    <h4>RESOURCES TO ASSIST YOU WITH COLLEGE SELECTION</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/SelectCollege.jpg" class="float-left mr-4" style="width: 260px; height: 180px;">
    <p class="mb-4">There are many resources to assist with selecting the right college for you. Most are free of charge. Make sure that you critically review this information and avail yourself of these resources during your junior and senior years. Get past any hype a college representative may be “selling” you. 
    <br><br>Important sources of information include:
    </p>
    <br>
</div>
<div class="container">
<br><hr>

<dl class="row">
  <dt class="col-sm-3">Visiting Colleges</dt>
  <dd class="col-sm-9"><span class="text-danger">A visit to a college, while in session, during your junior or senior year can be an invaluable experience</span>. It is probably the best way to find out what a college is really like. In order to maximize this experience, you may want to contact the admissions office in advance to schedule a tour. Get as much information as you can on the college prior to your visitation. <br><br>You will want to visit classroom buildings, labs, the student union, the bookstore, the library, residence halls, the cafeteria, and areas surrounding the campus. Most importantly, you will want to talk to students about their academic and social experiences at the college. <a href="https://www.usnews.com/education/blogs/the-college-solution/2010/10/19/36-questions-to-ask-on-a-college-visit" class="font-weight-bold" target="_blank">Ask as many questions as you can</a> on tours.</dd>
    
  <dt class="col-sm-3">Virtual Tours</dt>
  <dd class="col-sm-9">About two-thirds of colleges have established Internet sites highlighting their campus and will take you on <a href="https://campustours.com/" class="font-weight-bold" target="_blank">virtual tours</a> of their campus. In many cases, this can be the next best thing to personally visiting a campus.</dd>

  <dt class="col-sm-3">CollegeSource</dt>
  <dd class="col-sm-9"><a href="https://cso.collegesource.com/" class="font-weight-bold" target="_blank">CollegeSource</a> is a database of over <strong>150,000 digital college catalogs,
  </strong> institution profiles, transcript keys, and other critical resources.</dd>

  <dt class="col-sm-3">Print Materials</dt>
  <dd class="col-sm-9">Your high school career center, public library, or bookstore have many books available to assist you with college selections (for example, U.S. News and World Report’s America’s Best Colleges,  The Fiske Guide to Colleges, Newsweek/Kaplan’s How to Get into College, Colleges for Students with Learning Disabilities and ADD, Peterson’s Four Year Colleges, Princeton Review’s Complete Book of Colleges, and college catalogs). <strong>Make sure that these materials are current.</strong></dd>

  <dt class="col-sm-3">Talk to Your Counselor</dt>
  <dd class="col-sm-9">Your school counselor has a good grasp of college opportunities available for you.</dd>

  <dt class="col-sm-3">College Days/Nights</dt>
  <dd class="col-sm-9">Once a year most high schools or college admissions organizations invite colleges and universities to attend a College Night or Day.  Representatives, and in some cases alumni of your high school, assist with handing out printed information and DVDs regarding admissions and programs of study and answering your questions. <strong>It would be beneficial if your parents or guardians also attended this function</strong>.</dd>

  <dt class="col-sm-3">Talk to College Alumni</dt>
  <dd class="col-sm-9">Graduates of colleges of interest to you, particularly recent graduates, can be a useful resource for you.</dd>
</dl>
</div>
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (6)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_8/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (8)</a>
    </div>
  </div>
</div>
    {% endblock %}