{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/15/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (15)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/17/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (17)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>CALIFORNIA INDEPENDENT COLLEGES AND UNIVERSITIES</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CICPic1.jpg" class="float-right mr-3" style="width: 300px; height: 210px;">
    <p>In addition to the many fine community colleges and universities in California, there are hundreds of independent or private colleges and universities from which to choose. There are seventy-six independent colleges and universities serving over 290,000 students throughout California alone. Private colleges and universities are quite diverse in nature, including major research universities, comprehensive universities, small liberal arts colleges, faith-based colleges and universities, and specialized colleges (for example, the arts). 
    
    <p>Since these universities do not receive state funding, their “sticker price” is higher than public colleges and universities (averaging $36,868 per year).  However, these institutions have a variety of financial aid programs. Your ability to graduate in four years at a private institution may be greater than at a public institution due to more courses being available to their students. <strong>The average student graduates in 5.3 years at private institutions versus 6.2 years at public four-year schools</strong>.

    <p>Some independent institutions, such as the Ivy League Schools, Stanford, Massachusetts Institute of Technology, and California Institute of Technology, are very selective. Other universities are less selective in nature. <strong>It is very important to research the individual <a href="https://cso.collegesource.com/" class="font-weight-bold" target="_blank">college catalogs</a> and websites for specific admission information</strong>. Transfer to many independent colleges is possible after your freshman year at a community college or other institution.

    <p>If you have taken a rigorous program in high school including “a-g” requirements, Advanced Placement, honors, and international baccalaureate classes, been involved in leadership roles or athletics, have special interests or talents, solid GPA and SAT or ACT scores, and have strong letters of recommendation, you would likely be a candidate for a good private college or university.

</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-2 pl-3 pr-5">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CICPic2.jpg" class="float-left mr-5 ml-5" style="width: 400px; height: 270px;">
        
    <p class="container lead text-left pb-4 pt-5 mr-0"><em><strong>OUT OF STATE PUBLIC COLLEGES</strong>
    <br><br>
    There are also numerous out-of-state public colleges and universities. However, you will be paying out-of-state tuition. Learn more about the <a href="https://www.wiche.edu/tuition-savings/wue/" class="font-weight-bold" target="_blank">Western Undergraduate Exchange</a> for out of state college options. </strong></em>
    <br><br></p>
</div>

<div class="row container justify-content-center mx-auto">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CICMap.jpg" style="width: 80%; height: auto;">
</div>
 
<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/15/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (15)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/17/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (17)</a>
    </div>
  </div>
</div>
{% endblock %}