{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/14/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (14)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/16/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (16)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>ARE YOUR ELIGIBLE FOR THE UNIVERSITY OF CALIFORNIA</h4>
    <p>Most UC campuses receive more applicants than they have room for and they use a comprehensive review process. You can easily calculate your eligibility for UC by using the <a href="http://admission.universityofcalifornia.edu/freshman/california-residents/admissions-index/" class="font-weight-bold" target="_blank">interactive eligibility calculator</a> available online. The process is made up of fourteen criteria:</p>
</div>

<div class="container mt-4 mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UPPic4.jpg" class="float-left mr-3" style="width: 320px; height: 230px;">
    <p>1. Academic GPA in all completed “a-g” courses.
    <p>2. Scores on either the ACT Assessment plus Writing or SAT Reasoning and Subject Tests.
    <p>3. Number of, content of, and performance in academic courses beyond the minimum requirements.
    <p>4. Number of, and performance in, University-approved honors courses and Advanced Placement, International Baccalaureate, and transferable college courses.
    <p>5. Identification by UC as being ranked in the top ninth percent of the student’s high school class at the end of his or her junior year.
    <p>6. Quality of the student’s senior year, as measured by the type and number of academic subject areas.
    <p>7. Quality of the student’s academic performance relative to the educational opportunities at his or her high school.
    <p>8. Outstanding performance in one or more academic subject areas. 
    <p>9. Outstanding performance in one or more special projects in any academic field of study.
    <p>10. Recent marked improvement in academic performance, as demonstrated by academic GPA and the quality of coursework completed or in progress.
    <p>11. Special talents, achievements and awards in a particular field, special skills (for example, visual or performing arts and athletics), special interests, leadership experiences, significant community service or significant participation in student government, or other significant experiences or achievements.
    <p>12. Completion of special projects undertaken in the context of the student’s high school curriculum or in conjunction with special school events, projects, or programs.
    <p>13. Academic accomplishments in light of the student’s life experiences and special circumstances.
    <p>14. Location of the student’s secondary school and residence. 
    </p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-4 pl-0 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UPPic5.jpg" class="float-right mr-5 pl-4 ml-5" style="width: 370px; height: 240px;">
        <br><p class="container lead text-left pl-5 ml-4 mt-5 pb-4 mb-4 mr-0"><em><strong>NOTE:  UC will waive application fees for up to four campuses for qualified students. In order to qualify, students must have had a fee waiver for the SAT test.  You can apply for a fee waiver within the online application.
        </strong></em></p><br>
</div>

<div class="row container justify-content-center mx-auto">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/UCMap.jpg" style="width: 80%; height: auto;">
</div>

<div class="container mb-4 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/14/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (14)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/16/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (16)</a>
    </div>
  </div>
</div>

{% endblock %}