{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Life After High School</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (1)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (3)</a>
    </div>
  </div>
</div>
<div class="container mb-5">
    <h4>FEDERAL GRANTS & LOANS</h4> 
    <p>Federal student aid is designed to cover school expenses such as tuition, fees, room and board, books and supplies, and transportation. This financial assistance 
    may be used to attend a four-year or two-year public or private educational institution, a career school, or a trade school. In order to receive this aid, you must: 

    <div class="container pl-5">
        <div class="row">
            <div class=" pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Be a United States citizen or eligible noncitizen with a <a href="https://www.ssa.gov/ssnumber/" class="font-weight-bold" target="_blank">Social Security Number</a>.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Qualify to obtain a post secondary education by being a high school graduate.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Enroll in an eligible program as a regular student seeking a degree or certificate.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Register with the <a href="https://www.sss.gov/" class="font-weight-bold" target="_blank">U.S. Selective Service</a> if you are a male between 18 and 25.
                </label>
            </div>
        </div>
    </div>
    </p>
</div>
    <div class="container mb-5">
    <h5>Federal programs include:</h5>
    <br>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/FederalPic.jpg" class="float-left mr-4" style="width: 300px; height: 200px;">
    <div class="mb-5">
        • <a href="https://studentaid.ed.gov/sa/types/grants-scholarships/pell" class="font-weight-bold" target="_blank">Federal Pell Grants</a> for up to $6,195 are based on financial need. They are for up to 12 semesters for undergraduate students and <span class="font-weight-bold">do not have to be repaid</span>.
        <br><br>
        • <a href="https://studentaid.ed.gov/sa/types/loans/subsidized-unsubsidized" class="font-weight-bold" target="_blank">Federal Stafford Loans</a> through a lender for first year undergraduate students in the amount of $5,500. If you qualify for a subsidized loan, the government will pay interest 
        while you are in school. Otherwise, the interest must be repaid along with the loan if it is unsubsidized.
        <br><br>
        • <a href="https://studentaid.ed.gov/sa/types/loans/plus" class="font-weight-bold" target="_blank">Federal Plus Loans</a> are unsubsidized loans made to parents.
        <br><br>
        • <a href="https://ifap.ed.gov/campus-based-processing-information" class="font-weight-bold" target="_blank">Campus-Based Programs</a> which are administered by post secondary schools. They include <a href="https://studentaid.ed.gov/sa/types/grants-scholarships/fseog" class="font-weight-bold" target="_blank">Federal Supplemental Opportunity Grants</a> from $100 to $4,000, 
        <a href="https://studentaid.ed.gov/sa/types/work-study" class="font-weight-bold" target="_blank">Federal Work Study Programs</a> allowing you to earn money while going to school.
    </div>
    <h5>To apply for the programs:</h5>
    <br>
    <div class="container mb-5 pl-5 ">
        <div class="row">
            <div class=" pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                <span class="font-weight-bold">Complete a FAFSA</span>. Schools and various states have different timelines, usually early in the calendar year. Apply early not to miss out! The earlier you apply the more opportunities you will have.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Review your <a href="https://studentaid.ed.gov/sa/fafsa/next-steps/student-aid-report" class="font-weight-bold" target="_blank">Student Aid Report (SAR)</a> which confirms the information received 
                on your FAFSA and will indicate any <a href="https://studentaid.gov/complete-aid-process/how-calculated#efc" class="font-weight-bold" target="_blank">Expected Family Contribution</a> which must be made.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Contact the schools you are interested in attending. The financial aid department will review your SAR, and if you are eligible, prepare a letter outlining your financial aid package.
                </label>
            </div>
        </div>
    </div>        
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (1)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (3)</a>
    </div>
  </div>
</div>
{% endblock %}