{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Life After High School</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (4)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (6)</a>
    </div>
  </div>
</div>
<div class="container mb-4">
    <h4>KEYS TO MANAGING YOUR MONEY</h4>
    <p>The following <a href="https://youth.handsonbanking.org/grades/high-school-course/" class="font-weight-bold" target="_blank">keys to managing your money</a> from Hands on Banking are a large part of a being a wise consumer.</p> 

    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/MoneyMgmt.jpg" class="float-left mr-3" style="width: 250px; height: 150px;">
    <h5 >CONTROL YOUR SPENDING</h5>
    <p>Do you try to <span class="font-weight-bold">distinguish between needs and wants</span>? Do you save up enough money until you can pay cash for something without borrowing the money or putting 
    it on a credit card? Prioritize your spending. Try not to be an impulse buyer. Think about what you really want to buy and whether you are getting a good deal.</p>
    
    <h5 >DEVISE A BUDGET</h5>
    <p>Are you thinking about living away from home to attend college or a trade school? Are you going to live at home? How much will this realistically cost you? Are you going to work during college? Are your parents going to help you?
    
    Do you know how much you really spend per month (for example, expenses for eating out, entertainment, clothes, car insurance, or buying electronics)? Do you spend more than you make if you have a part-time job? 
    <br><br>
    Many students and parents underestimate college costs. <span class="font-weight-bold">Families should also realize that only 63 percent of students graduate from a four-year college within six years</span>. <a href="https://www.consumer.gov/articles/1002-making-budget#!what-it-is" class="font-weight-bold" target="_blank">Putting together a monthly budget</a> and sticking to it is a key to your financial future. This free <a href="https://www.quicken.com/budget-calculator" class="font-weight-bold" target="_blank">budget calculator</a> will help you estimate what you budget should look like.

    <h5>SAVE MONEY</h5>
    <p>Part of the budgeting process should be establishing a <a href="https://youth.handsonbanking.org/grades/high-school-course/" class="font-weight-bold" target="_blank">savings plan</a>. You should be paying yourself before you pay others. In other words, <span class="font-weight-bold">put some money in 
    savings</span>. Try to set a goal of saving ten percent of what you make and placing the money in an interest bearing savings account, certificate of deposit (CD), or 
    checking account. This will assist you when making needed large purchases or paying for unexpected expenditures like car repairs.

    <h5 >BE SAAVY ABOUT CREDIT CARDS</h5>
    <p>Did you know that the average college student graduates with credit card debt of more than $4,100? <a href="https://www.bankrate.com/finance/financial-literacy/how-to-be-a-savvy-credit-cardholder-1.aspx" 
    class="font-weight-bold" target="_blank">Be credit card smart</a>! One way to avoid this is to <span class="font-weight-bold">pay cash for as much as you 
    can or pay off your credit card balance monthly</span> instead of making minimum payments. Most college students have credit cards that carry an Average Percentage Rate (APR) 
    of 18 percent or more. Don’t take cash advances on credit cards since they charge large fees. In addition, late credit card payments can vastly increase monthly payments 
    or make your interest rates skyrocket.

    <h5>ESTABLISH AND MAINTAIN GOOD CREDIT</h5>
    <p>Wise money management will lead to <a href="https://www.equifax.com/personal/education/credit/score/what-is-a-good-credit-score/" class="font-weight-bold" target="_blank">establishing good credit</a> and securing lower interest rates. This becomes very important when you purchase a car or home in the future. 
    <span class="text-danger">Excessive spending, making late credit or car payments, and not paying student loans can damage your credit history for the next seven to ten years</span>.
    <br>
    </p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-4 pl-0 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/MoneyMgmt3.jpg" class="float-right mr-5 pl-4 ml-5" style="width: 350px; height: 210px;">
        <br><br><p class="container lead text-center pl-5 ml-4 mt-4 mb-4 mr-0"> <em><strong>Many students graduate from high school without a clear understanding of how to manage their money. Decisions you make after high school will carry forward with you into the future.
        </em></strong></p>
        <br><br>
</div>
    <br>
    <h5 class="container mb-4">There are several ways to reduce the cost of you post secondary education. They include:</h5>
    <div class="container pl-5 mb-4">
        <div class="row">
            <div class=" col-6 pr-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Reducing the number of classes that you take at a four-year college by enrolling in 
                classes at a community college during your junior or senior year of high school.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Enrolling in a community college and then transferring to a four-year college.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Living at home and commuting to college.
                </label>
            </div>

            <div class=" col-6 pl-5 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Participating in a Regional Occupation Center or Program (ROCP) or Career Technical 
                Program formally linked to a college.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Investigating Armed Forces programs such as ROTC or the military academies.
                </label>
            <br><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Serving in AmeriCorps doing community services and earning an education stipend.
                </label>
            </div>
        </div>
    </div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (4)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/6/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (6)</a>
    </div>
  </div>
</div>
    {% endblock %}