{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">The World of Work</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/24/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (24)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/26/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (26)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>YOUR RIGHTS AS AN EMPLOYEE</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/WorkPermit.jpg" class="float-left pr-3" style="width: 325px; height: 210px;">

    <p>You are ready to work but you also want to be safe and stay healthy while you work.  Before you begin,  discuss with your family your desire to work, how it will affect the family schedule, and what effect it will have on your education.

    <p>The California Education Code and the California Labor Code outline protections and regulations for employed minors under 18 years old, including minors employed by parents. Work place violations should be discussed with the school official who issued you a work permit.</p>
</div>
    
<div class="container mt-3 pl-5 mb-4">
    <p>1. You must have a work permit obtained through your high school. 
    <p>2. For assistance with completing your work permit, talk with your counselor, career technician, work experience coordinator or administrator.
    <p>3. Work permits are renewed annually at the start of school or when a student obtains a new job.

    <p>4. Work permits serve as an age certificate and state the maximum hours a minor may work.
    <p>5. You must attend school full time (except for summer vacation) and cannot be truant.
    <p>6. All minors must be covered by Workers’ Compensation, including minors employed by businesses operating from a private residence.
    <p>7. It is illegal for your employer to fire or punish you for reporting a workplace problem.
    </p>

</div>

<div class="container mt-4 mb-4">
    <h4>GETTING A JOB</h4>
    <p><a href="https://www.thebalancecareers.com/cover-letters-4161919" class="font-weight-bold" target="_blank">Download the "Get That Job and Keep It" Toolkit</a>   
    
    <p><strong>Networking is the single most effective way to get a job</strong>. Talk with friends, relatives, neighbors, acquaintances, career center counselors, and/or other school personnel about your job search.  Government agencies and non-profits, businesses, especially TV, radio, and newspapers have job banks and clearinghouses with listings of potential jobs. The California State Employment Development Department (EDD) and <a href="https://www.careeronestop.org/" class="font-weight-bold" target="_blank">One-Stop Centers</a> offer a variety of free employment services. 

    <p>Consider doing volunteer work that will give you valuable experience, a good reference for a future job, and an opportunity to explore careers and help others. For information, ask your school counselor about community service work, agencies that use volunteers, or programs that specialize in volunteer work for young adults. 

    <p><a href="https://www.careersafeonline.com/" class="font-weight-bold" target="_blank">CareerSafe</a> provides online training to receive Occupational Safety Health Administration (OSHA) safety certification. This could make a student more competitive when applying for a job.</p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-3">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CareerTools3.jpg" class="float-right mr-5 mb-4 pl-3 ml-3" style="width: 370px; height: 240px;">
        <br><br><p class="container lead text-left pl-5 ml-3 mt-3 mb-5 pb-5 mr-0"><em><strong> "I just love my job; I am having all sorts of experiences and it is perfect for my future career."
        <br><br>- Alisha, high school senior</p> 
        </strong></em></p>
        
</div>

<div class="container mt-4 mb-4">
    <h4>ABOUT WORK PERMITS</h4>
   
    <p>In order to work in California, if you are a minor, you must have a <a href="https://www.dir.ca.gov/dlse/dlse-cl.htm" class="font-weight-bold" target="_blank">work permit</a>.  You are also restricted to the types of work you can do, for example, non-hazardous work.  Work permits are not required for newspaper carriers, babysitting, or yard work in private homes. Please consult with your school counselor, school district office, or work experience coordinator for specifics. 

    <p><strong>16- and 17-Year-Old Students</strong>:

    <p>Sixteen and 17-year-olds may work 8 hours on non-school days or days preceding a non-school day. You may also work 4 hours on days preceding a school day.

    <p><strong>14- and 15-Year-Old Students</strong>:

    <p>When school is in session, 14- and 15- year-olds may work 3 hours per day, not to exceed 18 hours per week. You may also work 8 hours per day when school is not in session (not to exceed 40 hours per week).</p>
</div>

<div class="container mt-4 mb-4">
    <h4>SUMMER JOBS AND ACTIVITIES</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Summer+Job.jpg" class="float-left pr-3" style="width: 280px; height: 170px;">
    <p>Perhaps you want to start your work experience with a <a href="https://edd.ca.gov/Jobs_and_Training/Services_for_Youth.htm#Youth" class="font-weight-bold" target="_blank">summer job</a>.  Summers can be fun times and an opportunity for you to explore summer jobs, summer school, volunteer work, and start a college savings account.  Start early to look for a summer job.  Begin your exploration of interests, skills, and needs in February.  Network and use the Internet to find positions in April.  Submit applications in May and June.  Begin work in June or July.  Some of these jobs or volunteer activities may link to potential college majors, for example,  journalism or working with people.  These jobs and activities could increase your chances for college admission when you discuss what you did during summers on your college essay.

    <p>Examples of summer or seasonal positions would be working at amusement parks and resorts, internship positions, recreation jobs, or working in summer camps.  Potential jobs with summer openings include clerical jobs, child and home care, yard work, and restaurant jobs.  Jobs in the construction industry could be open to those 18 years or older. Alternative summer activities would include volunteer work, national and local service projects, or going to summer school and taking ROCP, community college, or high school classes.
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/24/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (24)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/26/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (26)</a>
    </div>
  </div>
</div>

{% endblock %}