{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">More Post Secondary Options</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_17/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (17)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_19/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (19)</a>
    </div>
  </div>
</div>

<div class="container">
    <p>In this part of the Guide, you will have an opportunity to explore other post secondary options apart from colleges and universities. They include Regional Occupational Centers and Programs, apprenticeships, 
    entrepreneurship, private career and technical schools, <a href="https://www.rwm.org/states/california-trade-schools/" class="font-weight-bold" target="_blank">trade and vocational schools</a>, the U.S. Military, the “gap” year,  AmeriCorps, California Conservation Corps, and the Job Corps.</p>
</div>

<div class="container mb-5">
    <h4>APPRENTICESHIPS: EARNING WHILE LEARNING</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Apprenticeship.jpg" class="float-right mr-3" style="width: 200px; height: 285px">
    <p>An appealing way for many men and women to earn money while learning an important skill is through an <a href="http://www.calapprenticeship.org/" class="font-weight-bold" target="_blank">apprenticeship program</a>. In California alone, there are 1,400 programs 
    serving 73,000 apprentices. There are 800 recognized apprenticeship occupations in the service, manufacturing, construction, public administration, retail trade, transportation, 
    and utilities industries. <br><br>Examples of such occupations include barbers, correctional officers, vocational nurses, electricians, firefighters, machinists, automotive technicians, 
    and those in the construction trades. Explore apprenticeship opportunities at the <a href="http://www.cacareerzone.org/training/list" class="font-weight-bold" target="_blank">California CareerZone’s</a> Training Programs in California.

    <br><br>Typically, an apprenticeship program can take from three to five years of classroom and on-the-job training while working beside an experienced journeyperson. During this time, 
    apprentices are paid a wage of <span class="font-weight-bold">$9 to $14 per hour and regular raises up to $30 per hour</span>. Upon completion of the program, apprentices can earn $35 or more per hour depending upon the particular trade.</p>
</div>
<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/PostSec1.jpg" class="float-left mr-5 pt-2 pl-4 ml-5" style="width: 360px; height: 250px;">
        <br><p class="container lead text-left mt-4 mb-3 mr-0"> "I wasn’t ready to go directly to college right out of high school.  I joined the Navy for three years after high school, learned valuable skills in computer science, and am 
        now receiving tuition benefits for my college education."
        <br><br>- Maria, CSU Long Beach sophomore</p>
        <br><br>
</div>

<div class="container mt-4 mb-4">
    <h4>ENTREPRENEURSHIP</h4> 
    <p> An entrepreneur is an individual who creates a new business, bearing most of the risks and enjoying most of the rewards. The entrepreneur is commonly seen as an innovator, a source of new ideas, goods, services, and business/or procedures.
    <br><br>Entrepreneurs play a key role in any economy, using the skills and initiative necessary to anticipate needs and bring good new ideas to market. Entrepreneurs who prove to be successful in taking on the risks of a startup are rewarded with profits, 
    fame, and continued growth opportunities. However, there are risks to being a entrepreneur.
    <br><br>
        The <a href="http://dreamtoolbox.herokuapp.com/" class="font-weight-bold" target="_blank">Dream Toolbox: Building an Entrepreneurial Mind and Financial Abundance,</a> is a series of <span class="font-weight-bold">FREE</span> short podcasts designed to open windows of economic opportunity most people don’t know even exist and to 
        provide a set of skill based tools that can lead almost anyone from a low-income existence to wealth and financial abundance.
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://dreamtoolbox.s3-us-west-1.amazonaws.com/dreamtoolbox_webbanner_highres-01.png') no-repeat center; background-size: 100%" style="width: 100%; height: auto;"></div>
</div>

<div class="container mt-4 mb-4">
    <h4>PRIVATE CAREER AND TECHNICAL SCHOOLS</h4> 
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CareerTech.jpg" class="float-right ml-3" style="width: 300px; height: 210px;">
    
    <p> <a href="https://www.rwm.org/" class="font-weight-bold" target="_blank">California career and technical schools</a> offer a variety of programs to meet your needs in such fields as automotive mechanics, aircraft mechanics, health care, business, computer science, cosmetology, and truck driving. 
    These programs vary in both length and cost.
    <br><br>Before enrolling in one of these programs, do a cost comparison to see if these programs are offered for considerably less tuition at a public tax-supported Regional Occupational Program, adult school,  or community college.  It is possible that some programs could be completed 
    faster in a private school. For example, a private beauty school may offer a ten-month cosmetology program as opposed to a two-year program in a community college.</p>
 
    You can carefully check out the schools by asking <span class="font-weight-bold text-danger">several important questions</span>:
</div>
<div class="container pl-5 mt-2 mb-5">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Is the program approved by the California Bureau for Private and Post Secondary and Vocational Education? The Bureau determines whether the school meets minimum standards for integrity, financial stability, and educational quality.
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Is the school accredited by one of the numerous accrediting bodies in the United States?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you thoroughly read the available program material provided by the school?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you toured the school?  What were your impressions?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            How long has the school been in business?  When was it last accredited?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Are the school’s courses current and appropriate for you?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            How long will the training take?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            What is the total cost of the program including tuition, fees, supplies, and books?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            If you are living away from home, how much will it cost you for room and board?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Is the equipment current and how much “hands-on” use will you actually get on it?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you asked current and past students about how they liked their experiences at the school?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Does the school help place you in a job? What is the typical starting salary?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you asked potential employers if they would hire graduates of the school and what they think of them??
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you researched other schools and compared them?
        </label>
    </div>
        <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Have you discussed your research with your parents or guardian and counselor before making a final decision?
        </label>
    </div>
</div>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/journey_17/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (17)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/journey_19/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (19)</a>
    </div>
  </div>
</div>
{% endblock %}