{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">College and University Opportunities</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/12/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (12)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/14/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (14)</a>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
    <h4>ARE YOUR ELIGIBLE FOR THE CSU</h4>
    <h6><strong>Step One - Calculate Your Grade Point Average (GPA)</strong></h6>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSU-ELPic1.jpg" class="float-left mr-3" style="width: 300px; height: 210px;">
    <p>Using the chart below, enter the count of each grade you have earned in “a-g” classes after 9th grade. Example: If you have earned four A’s so far, then enter 4 in the box next to the A. 
    
    <p>If you have taken any approved honors classes in the 10th, 11th, or 12th grades, then enter the number (count) of honors course grades you have earned with a “C” or better. <strong>The maximum number of honors courses you can use is eight semesters in the 11th and 12th grades</strong>. No more than two approved honors level courses taken in the tenth grade may be given extra points. <strong>Do not enter any count for the honors courses with grades of D or below. 
    </strong>Enter .5 for each semester of approved honors work up to a maximum count of 4. 

    <p>For each grade or course, multiply the “Count” by the “Worth” and enter the result in the 
    appropriate “Point” box.
    
    <p>Add up the “Count” and “Points”  columns and enter the number into the appropriate total box. 
    
    <p>Divide the Total Points by the  Total Count. <strong>The result is your CSU GPA</strong>. 
</div>

<div class="mt-3 pt-2 pb-3 mb-3">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSU-GPA.jpg" class="mx-auto row mr-5 pl-4 ml-5" style="width: 570px; height: 300px;">
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-2 mt-4 pl-0 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/CSU-ELPic2.jpg" class="float-right mr-5 pl-4 ml-5" style="width: 370px; height: 240px;">
        <br><p class="container lead text-left pl-5 ml-4 mt-5 pb-4 mb-4 mr-0"><em><strong>NOTE:  If you apply for admission before you graduate from high school, you should compute your GPA using grades earned in “a-g” courses completed after the 9th grade.  Do not include grades you expect to earn in courses during the remainder of 12th grade.
        </strong></em></p><br>
</div>

<div class="container mt-4 mb-4">
    <h6><strong>Step Two - Calculating the Eligibility Index</strong></h6>
    <br>
    <p>Once you calculate your GPA, you can use this formula to see if your grade point average and test scores meet the minimum required eligibility index. <strong>California residents must have a minimum Eligibility Index of 2950</strong> using SAT scores or 694 using ACT scores. The SAT score for CSU is the <strong>sum of the Critical Reasoning and Math scores</strong>.
</div>
    
<div class="container mt-4 pl-5 text-align-right mb-4">
    <p>For SAT scores:   Your GPA ______ X 800 + Your SAT Total  (<strong>ex. 3.0 GPA x 800 = 2400 + 1100 SAT = 3500</strong>)
    <p><strong>MY ELIGIBILITY INDEX IS _______</strong>.
    <br>
    <p>For ACT scores:   Your GPA ______ X 200 + (10 X ACT Composite)  						
    <p><strong>MY ELIGIBILITY INDEX IS _______</strong>.
    </p> 
</div>
 
<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/12/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (12)</a>
    </div>
    <div class="col float-right">
        <a href="/journey/14/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">JOURNEY (14)</a>
    </div>
  </div>
</div>
{% endblock %}