{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Homework Help Sites</h3>
    {% comment %} {% for site in sites %}
    <h2 class="pb-4">{{ site.category }}</h2>
    {% endfor %} {% endcomment %}
</div>
<hr>


<div class="container mt-3 mb-5">
    {% for site in sites %}
    {% comment %} <h2 class="pb-4">{{ site.category }}</h2> {% endcomment %}
    <div class="">
    <a href="{{ site.url }}" style="font-size: 24px;" target="_blank" class="mb-4">{{ site.site }}</a>
    <br>
    <img src="{{ site.logo_url }}" class="pb-4 mt-3 mr-5" style="width: 150px;"/>  
    <p class="pb-0">{{ site.description }}</p>
    <hr class="pb-2">
    </div>
    
    {% empty %}

    <h3>No Results Found</h3>

    {% endfor %}
</div>

{% endblock %}