{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center">Going on the <span class="text-warning">Journey</span></h2>
      <h3 class="text-center">Homework Help Sites</h3>
</div>
<hr>

    <h2 class="pb-4">{{ category }}</h2>

<div class="container mt-3 mb-5">
    {% for site in sites %}
    <div class="">
    <a href="{{ site.url }}" style="font-size: 24px; " class="mb-3">{{ site.site }}
    <br><img src="{{ site.logo_url }}" class="pb-3 mt-2 mr-3" style="width: 200px;"/></a>

    <p class="pl-2">{{ site.description }}</p>
    <hr class="pb-2">
    </div>
    
    {% empty %}

    <h3>No Results Found</h3>

    {% endfor %}
</div>

{% endblock %}