{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background6.jpg') no-repeat center; background-size: 100%">
    </div>
    <div class="mb-4">
        <h2 class="display-4 container text-center"><span class="text-warning">Create</span> Organization</h2>
    </div>
    <hr>
    <div class="container-fluid px-1">
        <div class="row justify-content-center min-vh-100">
            <div class="col-md-4 col-lg-6 col-xl-8 d-flex align-items-center">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                    <form method="POST" action="{% url 'org_create' %}" class="form-validate">
                        {% csrf_token %}
                        {{ org_form|crispy }}
                        <button class="btn btn-sm btn-block btn-warning font-weight-bold">SUBMIT ORGANIZATION</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
                <div class="bg-cover h-100 mr-n3" style="background:#8cc2ce;background: -webkit-linear-gradient(to right, #FFF,#8cc2ce);background: linear-gradient(to right, #FFF, #8cc2ce);"></div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}