{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row bg-light pb-1">
            <div class="col-3 d-none d-md-block">
                <img src="{{organization.logo_url}}" alt="..." class="img-thumbnail mx-auto d-sm-block d-xs-none" style="width: 200px;">
            </div>
            <div class="col-md-9 col-sm-12">
                <img src="{{organization.logo_url}}" alt="..." class="img-thumbnail mx-auto d-md-none d-sm-block" style="width: 200px;">
                <h5>{{organization.get_category_display}}</h5>
                <h1>{{organization.name}}</h1>
                <p><span class="font-weight-bold">{{organization.city}}, {{organization.state}}&ThickSpace; | &ThickSpace;{{organization.website_url}}</span>&ThickSpace; | &ThickSpace;<a href="{% url 'org_donate_create' organization.id %}" class="btn btn-warning font-weight-bold">Donate</a>{% if user == organization.user %}&ThickSpace; | &ThickSpace;<a href="{% url 'org_update' organization.id%}" class="btn btn-secondary">Update Organization</a> {% endif %}</p>
            </div>

        </div>
    </div>

{% endblock %}