{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/LP+Background6.jpg') no-repeat center; background-size: 100%">
</div>

<div class="mb-5 mt-3 ml-5">
  <h1 class="display-4">Sign <span class="text-warning">Up</span></h1>
  <hr>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-warning" value="Sign Up">
  </form>
</div>
{% endblock %}