{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifePrep Academy: College and Career Planning</title>
    <link rel="shortcut icon" href="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Site+Icon.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="w-100 mw-100 min-vh-100">
    <header class="header">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="{% url 'home' %}" class="navbar-brand pt-1 d-flex align-items-end">
                        <img class="p-2" src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Homepage/LifePrep-Logo-Site.jpg" alt="..." style="width: 350px;">
                    </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Schools & Groups</a>
                            <div class="dropdown-menu text-center">
                                <a href="{% url 'why' %}" class="nav-link">Why LifePrep?</a>
                                <a href="{% url 'pricing' %}" class="nav-link">Plans and Pricing</a>
                                <a href="{% url 'contact' %}" class="nav-link">Request a Demo</a>
                        {% if user.is_authenticated %}
                                {% comment %} <a href="{% url 'org_create' %}" class="dropdown-item">Add My Organization</a> {% endcomment %}
                         {% endif %}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Students & Parents</a>
                            <div class="dropdown-menu text-center">
                            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                                <div class="dropdown-menu dropdown-menu-right text-center">
                                    {% comment %} <a href="{% url 'account_profile' %}" class="dropdown-item">View Profile</a> {% endcomment %}
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'logout' %}" class="text-danger dropdown-item">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'signup' %}" class="nav-link">Sign up</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Navbar -->
    <div class="container-fluid" style="min-height: calc(100vh-100px); margin-top: 110px;">
        {% block contentbefore %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block contentafter %}
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="position-relative z-index-10 d-print-none">
        <div class="font-weight-light text-grat-800">
            <div class="ml-5">
                <div class="row align-items-center">
                    <div class="col-md-8 text-center text-md-left">
                        <p class="text-sm mb-md-4">© 2021 LifePrep Academy. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c6d585037c.js" crossorigin="anonymous"></script>
</body>
</html>