{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"> <span class="text-warning">Healthy</span> Living</h2>
      <h3 class="text-center">Auto & Internet Safety</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (3)</a>
    </div>

    <div class="col float-right">
        <a href="/wellsfargo" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (5)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>INTERNET SAFETY: SAFE SURFING FOR TEENS</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/InternetSafety1.jpg" class="float-left pr-3" style="width: 325px; height: 210px;">

    <p>Young girls, ages 10-19 have lots of changes going on in their bodies. Building healthier habits will help you - now as a growing teen - and later in life. Growing up means you’re in charge of the foods you eat, and the time you spend being physically active every day.</p>
</div>
    
<div class="container mt-3 mb-4">
    <p>How could we live without the Internet? That’s how most of us keep in touch with friends, find homework support, research a cool place to visit, or find out the latest news.

    <p>But besides the millions of sites to visit and things to do, the Internet offers lots of ways to waste time — and even get into trouble. And just as in the non-cyber world, some people you encounter online might try to take advantage of you — financially or physically. 

    <p>You’ve probably heard stories about people who get into trouble in chat rooms. Because users can easily remain anonymous, chat rooms often attract people who are interested in more than just chatting. They’ll sometimes ask visitors for information about themselves, their families, or where they live — information that shouldn’t be given away.

    <p>Usually, the people who request personal information like home addresses, phone numbers, and email addresses use this information to fill mailboxes and answering machines with advertisements. In some cases, though, predators may use this information to begin illegal or indecent relationships or to harm a person’s or family’s well-being.

    <p>The key is to protect yourself while online. Review the <a href="https://www.broadbandsearch.net/blog/internet-safety-kids" class="font-weight-bold" target="_blank">17 Tips for Parents to Help Keep Kids Safe</a>.</p>
</div>


<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-3">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/InternetSafety2.jpg" class="float-right mr-5 mb-2 pl-3 ml-3" style="width: 370px; height: 240px;">
        <br><br><p class="container lead text-left pl-5 ml-3 mt-3 mb-2 pb-5 mr-0"><em><strong> "By being more aware about auto and internet safefy, I'll be a more saavy and confident driver and consumer."
        <br><br>- Kandaya, El Camino College student</p> 
        </strong></em></p>
        
</div>

<div class="container mt-4 mb-4">
    <h4>SMART SURFING</h4>

    <p><strong>First rule of <a href="https://www.childline.org.uk/info-advice/bullying-abuse-safety/online-mobile-safety/staying-safe-online/" class="font-weight-bold" target="_blank">smart surfing</a>? Remain as anonymous as possible</strong>. That means keeping all private information private. Here are some examples of private information that you should never give out on the Internet:

        <p class="pl-5">• full name
        <br>• home address
        <br>• phone number
        <br>• Social Security number
        <br>• passwords
        <br>• names of family members
        <br>• credit card numbers

    <p>Most credible people and companies will never ask for this type of information online. So if someone does, it’s a <span class="font-weight-bold text-danger">red flag</span> that they may be up to no good.</p>
</div>

<div class="container mt-3 mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/InternetSafety4.jpg" class="float-left pr-3" style="width: 320px; height: 200px;">
    <h4>CYBERBULLYING</h4>

    <p>It’s not just strangers who can make you feel uncomfortable online. <a href="https://www.stopbullying.gov/" class="font-weight-bold" target="_blank">Cyberbullying</a> refers to cruel or bullying messages sent to you online. These might be from former friends or other people you know. They can be irritating and, in some cases, even frightening.

    <p>If you get these bullying messages online, it’s often better to ignore them rather than answer them. Cyberbullies, just like other bullies, may be angry or disturbed people — and may be looking for attention or a reaction.

    <p>Fortunately, most people never experience cyberbullying. But if you’re getting cyberbullied and ignoring it doesn’t make it go away, getting help from a parent, school counselor, or another trusted adult may be a good idea. That’s especially true if the cyberbullying contains threats.</p>
</div>

<div class="container mt-3 mb-4">
    <h4>ONLINE ANNOYANCES</h4>

    <p>Although email is relatively private, hackers can still access it — or add you to their spam lists. Spam, like advertisements or harassing or offensive notes, is annoying. But spam blockers can keep your mailbox from getting clogged. Many service providers will help you block out or screen inappropriate emails if your parents agree to set up age-appropriate parental controls.

    <p>If you don’t recognize the sender of a document or file that needs to be downloaded, delete it without opening it to avoid getting a virus on your machine. Virus protection software is a must for every computer. You can also buy software that helps rid your computer of unwanted spyware programs that report what your computer is doing. Some service providers make software available to protect you from these and other online annoyances, such as blockers for those in-your-face pop-up ads.

    <p>If you do invest in protective software, you’ll need to keep it updated to be sure it continues to do its job as new technologies evolve.

    <p>With all the problems you can face online, is it worth it? For most people, the answer is definitely yes. You just need to know where the pitfalls are, use some common sense and caution, and you’ll be in contro</p>
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (3)</a>
    </div>

    <div class="col float-right">
        <a href="/wellsfargo" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (5)</a>
    </div>
  </div>
</div>

{% endblock %}