{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"> <span class="text-warning">Healthy</span> Living</h2>
      <h3 class="text-center">Effective Personal & Social Skills</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/25/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (25)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (2)</a>
    </div>
  </div>
</div>

<div class="container mb-4">
    <h4>THE ROLE OF DIET, EXERCISE AND SLEEP</h4>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Healthy1.jpg" class="float-right ml-3" alt="Career Tools" style="width: 300px; height: 190px;">
    <p>You have begun your academic and career planning for high school and started your preparation for post secondary education and work. You also may have begun to take college classes and enter the world of work with your first paying job. The second area of mastery in preparation for the future is healthy living and effective personal/social skills.

    <p>It should be a priority to eat three healthy meals per day, including at least two to four servings of fruit an three to five servings of vegetables. Fat, cholesterol, salt, and sugar intake should be minimized. <strong>Skipping breakfast can affect your academic performance in school</strong>.

    <p><strong>Exercise should be an ongoing routine throughout life</strong>. Exercise benefits us physically and mentally by reducing stress. Exercise at least three to four days per week. It should include continuous (aerobic) physical activity for at least 20 to 30 minutes without stopping. Examples of aerobic exercise include brisk walking, basketball, bicycling, swimming, in-line skating, soccer, and jogging.

    <p>Most people need eight hours of sleep per night. <strong>Adequate sleep is as important as diet and exercise for good health and a long life</strong>. There is a link between sleep deprivation and increased risk of high blood pressure, diabetes, obesity, depression, heart attack, and stroke according to the Institute of Medicine. Inadequate sleep will hinder academic progress by reducing your memory, focus, concentration, and reaction time.</p>
</div>

<div class="container mb-4">
    <h4>YOUR MENTAL HEALTH</h4>
    <p><strong>Your mental health is as important as your physical health</strong>. While going through high school, many students experience a great deal of stress, anxiety, nervousness, personal and academic pressure, diappointment, or burnout. If you exhibit any of the following behaviors, talk to your school counselor, health care professional, and/or your parents:
</div>

<div class="container mt-3 pl-5 mb-4">
    <p>• On-going sadness, frequent crying, and/or depression.
    <p>• An inability to enjoy previously favorite activities.
    <p>• Increased activity and irritability.
    <p>• Frequent physical illness such as headaches and stomachaches.
    <p>• Frequent absences from school or poor performance in school.
    <p>• Major changes in eating and/or sleeping patterns.
    </p>
</div>

<div class="container mb-4 ">
    <p>If you have recurring thoughts about death (not just fear of dying) or thoughts about suicide, immediately get help from a school counselor, doctor, therapist, and/or your parents. Visit <a href="http://www.thevisualmd.com/" class="font-weight-bold" target="_blank">The Visual MD</a> for the most current, concise, and reliable information on a huge variety of health conditions and wellness issues.
    
    <p class="text-center font-weight-bold">The <span class="text-danger font-weight-bold">California Youth Crisis Line is 1-800-843-5200</span>. The service is anonymous, safe, confidential, non-judgemental and 24/7.
    
    </p>
</div>

<div class="container mb-5 mt-2">
<img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Journey/Crisis+Line2.jpg" class="row mx-auto " alt="Career Tools" style="width: 65%; height: auto;">
</div>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/journey/25/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">JOURNEY (25)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (2)</a>
    </div>
  </div>
</div>
</div>


{% endblock %}