{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"> <span class="text-warning">Healthy</span> Living</h2>
      <h3 class="text-center">Health Tips for Young Adults</h3>
</div>
<hr>
<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (1)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (3)</a>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
    <h4>10 TIPS FOR YOUNG WOMEN</h4>
    <h5>Eat Smart and Be Active As You Grow</h5>
    <p><small>© USDA - ChooseMyPlate.gov DG Tip Sheet No 36. Reprinted with permission.</small></p>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Tips4.jpg" class="float-left pr-3" style="width: 325px; height: 210px;">

    <p>Young girls, ages 10-19 have lots of changes going on in their bodies. Building healthier habits will help you - now as a growing teen - and later in life. Growing up means you’re in charge of the foods you eat, and the time you spend being physically active every day.</p>
</div>
    
<div class="container mt-3 pl-5 mb-4">
    <p><strong>1. Build Strong Bones</strong>
    <br>A good diet and regular physical activity can build strong bones throughout your life. Choose fat-free or low-fat milk, cheeses, and yogurt to get the vitamin D and calcium your growing bones need. Strengthen your bones three times a week doing activities such as running, gymnastics and skating.

    <p><strong>2. Cut Back on Sweets</strong>
    <br>Cut back on sugary drinks. Many 12-ounce cans of soda have 10 teaspoons of sugar in them. Drink water when you’re thirsty. Sipping water and cutting back on cakes, candies and sweets helps to maintain a healthy weight. 

    <p><strong>3. Power Up With Whole Grain</strong>
    <br>Fuel your body with nutrient-packed whole-grain foods. Make sure that at least half your grain foods are whole grains such as brown rice, whole-wheat breads, and popcorn.

    <p><strong>4. Choose Vegetables Rich in Color</strong>
    <br>Brighten your plate with vegetables that are red, orange, or dark green. Try acorn squash, cherry tomatoes, or sweet potatoes. Spinach and beans also provide vitamins like folate and minerals like potassium that are essential for healthy growth.

    <p><strong>5. Check Nutrition Fact Labels for Iron</strong>
    <br>Read nutrition facts labels to find foods containing iron. Most protein foods like meat, poultry, eggs, beans, breakfast cereals, and breads have iron, and so do fortified breakfast cereals and breads.

    <p><strong>6. Be A Healthy Roll Model</strong>
    <br>Encourage your friends to practice healthier habits. Share what you do to work through challenges. Keep your computer and TV time to less than 2 hours a day (unless it’s school work).

    <p><strong>7. Try Something New</strong>
    <br>Keep healthy eating fun by picking out new foods you’ve never tried, like lentils, mango, quinoa, or kale. 

    <p><strong>8. Make Moving Part of Every Event</strong>
    <br>Being active makes everyone feel good. Aim for 60 minutes of physical activity each day. Move your body often. Dancing, playing active games, walking to school with friends, swimming and biking are fun ways to be active. Also, try activities that target the muscles in your arms and legs.

    <p><strong>9. Include All Food Groups Daily</strong>
    <br>Use MyPlate as your guide to include all food groups each day. Learn more at <a href="https://www.choosemyplate.gov/" class="font-weight-bold" target="_blank">ChooseMyPlate.gov</a>

    <p><strong>10. Everyone Has Different Needs</strong>
    <br>Get nutrition info based on your age, gender, height, weight, and physical activity level. Find your optimal calorie level, choose the foods you need and track progress towards your goal.</p>
</div>


<div class="jumbotron jumbotron-fluid justiy-content-center mb-1 mt-3 pl-0 pr-3">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Tips5.jpg" class="float-right mr-5 mb-2 pl-3 ml-3" style="width: 370px; height: 240px;">
        <br><br><p class="container lead text-left pl-5 ml-3 mt-3 mb-2 pb-5 mr-0"><em><strong> "By becoming more aware about the role of diet, exercise, and sleep. I have been getting better grades in school."
        <br><br>- Ellen, USC freshman</p> 
        </strong></em></p>
        
</div>

<div class="container mt-4 mb-4">
    <h4>10 TIPS FOR YOUNG MEN</h4>
    <h5>Choose the Foods You Need to Growing</h5>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Tips3.jpg" class="float-left pr-3" style="width: 325px; height: 210px;">

    <p>Feed your growing body by making better food choices today as ta teen and as you continue to grow into your twenties. Make time to be physically active every day to help you be fit and healthy as you grow.</p>
</div>

<div class="container mt-3 pl-5 mb-4">
    <p><strong>1. Get Over the Idea of Magic Foods</strong>
    <br>There are no magic foods to eat for good health. Teen guys need to eat foods such as vegetables, fruits, whole grains, protein foods and fat-free or low-fat dairy foods.  Choose protein foods like unsalted nuts, beans, lean meats and fish.  SuperTracker.usda.gov will show if you are getting the nutrients you need for growth.

    <p><strong>2. Always Hungry?</strong>
    <br>Whole grains that provide fiber can give you a feeling of fullness and provide key nutrients.  Choose half your grains as whole grains. Eat whole-wheat breads, pasta and brown rice instead of white bread, rice or other refined grains. Also, choose vegetables and fruits when you need to “fill up”. 

    <p><strong>3.  Keep Water Handy</strong>
    <br>Water is a better option than many other drink choices. Keep a water bottle in your backpack and at your desk to satisfy your thirst. Skip soda, fruit drinks and energy / sports drinks. They are sugar-sweetened and have few nutrients.

    <p><strong>4. Make a List of Favorite Foods</strong>
    <br>Like green apples more than red apples? Ask your family food shopper to buy quick-to-eat foods for the fridge like mini-carrots, apples, oranges, low-fat cheese slices or yogurt. And also try dried fruit, unsalted nuts, whole-grain breads, cereal, crackers and popcorn. 

    <p><strong>5. Start Cooking Often</strong>
    <br>Get over being hungry by fixing your own snacks and meals. Learn to make vegetable omeletes, bean quesadillas or a batch of spaghetti. Prepare your own food so you can make healthier meals and snacks. Microwaving frozen pizzas doesn’t count as home cooking.

    <p><strong>6. Skip Foods That Can Add Unwanted Pounds</strong>
    <br>Cut back on calories by limiting fatty meats like ribs, bacon and hot dogs. Some foods are just occasional treats like pizza, cakes, cookies, candies and ice cream. Check out the calorie content of sugary drinks by reading the Nutrition Facts label. Many 12-ounce sodas contain 10 teaspoons of sugar.

    <p><strong>7. Learn How Much Food You Need</strong>
    <br>Teen guys may need more food than most adults, teen girls and little kids. Learn how much food you need based on your age, height, weight and activity level. 

    <p><strong>8. Check Nutrition Facts Labels</strong>
    <br>To grow, your body needs vitamins and minerals. Calcium and vitamin D are especially important for your growing bones. Read Nutrition Facts labels for calcium. Dairy foods provide the minerals your bones need. 

    <p><strong>9. Strengthen Your Muscles</strong>
    <br>Work on strengthening and aerobic activities. Work out at least 10 minutes at a time to see a better you. However, you need to get 60 minutes of physical activity every day.


    <p><strong>10. Fill Your Plate Like MyPlate</strong>
    <br>Go to <a href="https://www.choosemyplate.gov/" class="font-weight-bold" target="_blank">ChooseMyPlate.gov</a> for more easy tips and science-based nutrition from the Dietary Guidelines for Americans.</p>
</div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/1/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (1)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/3/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (3)</a>
    </div>
  </div>
</div>

{% endblock %}