{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:28vh;background:url('https://lifeprep-academy.s3-us-west-1.amazonaws.com/Backgrounds/LP+Background-PostSecondary1.jpg') no-repeat center; background-size: 100%">
</div>
<div class="container text-center mt-3 mb-4">
      <h2 class="display-4 container text-center"> <span class="text-warning">Healthy</span> Living</h2>
      <h3 class="text-center">Auto & Internet Safety</h3>
</div>
<hr>

<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (2)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (4)</a>
    </div>
  </div>
</div>

<div class="container mb-4">
    <h4>5 WAYS TO GET DRIVERS TO STOP TEXTING</h4>
</div>

<div class="container mt-3 pl-5 mb-4">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Auto+Safety3.jpg" class="float-right ml-3" alt="Career Tools" style="width: 300px; height: 190px;">
    <p><strong>1. THE DIRECT APPROACH</strong>. Say, “I’m sorry, but I get really nervous when people text and drive.” Wait to see how the person responds. Most people will admit it’s probably not a good idea or they’ll at least put down the phone.

    <p><strong>2. The subtle approach</strong>. If you don’t feel comfortable telling a driver to quit texting outright, try hinting:”Would you like me to type for you since you’re driving?” Or, since more states are handing out tickets for texting and driving, you could say, “I’ve seen a lot of cops out today, you might not want to text right now.” Or point out things the driver has missed seeing (or narrowly missed hitting). As in, “Did you see that dog/kid/overturned bank truck?”

    <p>If you know the person your driver is texting, ask the driver to hand over the phone so you can say something. Then send a message that says, “Driving, talk to you later.” If your driver teases you about being nervous, it’s the perfect opener to say, “Yeah, texting and driving freaks me out. You never know if the person in front or behind is doing it too.”

    <p><strong>3. The “Wow, look at that bad driver!” approach</strong>. Point out drivers who wander into the next lane, drive 45 on the highway, run a stop sign, or stop at a green light. Then make guesses about who they’re texting. Or make up a variation on the punch buggy game, awarding points each time you see a driver who seems to be texting (this has the added benefit of forcing your own driver to focus on the surroundings, not the screen).

    <p><strong>4. The group approach</strong>. If your whole group thinks a driver is a hazard, make a plan together. Take away the driver’s car keys: It’s what you’re supposed to do with drunk drivers, and studies show that texting drivers are even more dangerous. Or agree not to ride with that person. If several people boycott a driver, he or she will get the message.

    <p><strong>5. The life-saving approach</strong>. If someone continues to text and drive or mocks you for worrying about it, avoid riding with that person. Let texting drivers know you’re cutting them off (if you feel comfortable doing so) — a little shame makes people think twice about bad habits. Or say something like, “My dad told me I can’t ride with you because he says you text and drive.” </p>
</div>

<div class="jumbotron jumbotron-fluid justiy-content-center mb-4 pl-3 pr-5">
        <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Auto+Safety1.jpg" class="float-left mr-5 pt-2 pl-4 ml-5" style="width: 360px; height: 250px;">
        <br><br><p class="container lead text-left mt-4 mb-3 pb-5 mr-0"> <em>According to the <a href="https://www.cdc.gov/injury/features/teen-drivers/index.html" class="font-weight-bold" target="_blank">CDC</a>, in 2019, over 40% of U.S. high school students did not always wear a seat belt when riding in a car driven by someone else. Motor vehicle crashes are a leading cause of death for U.S. teens, and using seat belts is an effective way to reduce deaths and injuries in crashes. <strong>Buckle up: every person, every trip, every seating position!</strong></em></p>
</div>

<div class="container mb-4 ">
    <h4>WAYS FOR TEEN DRIVERS TO STAY SAFE</h4>
    <h6>SPONSORED BY STATE FARM: <a href="https://www.statefarm.com/insurance/auto/discounts/steer-clear/steer-clear-training-program" class="font-weight-bold" target="_blank">STEER CLEAR</a></h6>
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/StateFarm+logo20.jpg" class=" mb-3" alt="Career Tools" style="width: 20%; height: auto;">
    <p>Here are tips to help avoid teen crashes and stay safe on the road.
</div>

<div class="container mb-4 ">
    <img src="https://lifeprep-academy.s3-us-west-1.amazonaws.com/Healthy/Auto+Safety4.jpg" class="float-right ml-3" alt="Career Tools" style="width: 300px; height: 190px;">
    <p><strong>Restrict Night Driving</strong>. Close to two-thirds of fatal crashes that happen at night are speed related and involve 16-year-old drivers.
    
    <p><strong>Keep a Safe Following Distance</strong>. In normal driving conditions, the general rule is “three seconds plus.” When the vehicle in front of you passes a stationary object, begin counting. You should reach that same object no sooner than three seconds, four seconds ideally. Increase following distance when visibility is poor or you’re in traffic.
    
    <p><strong>Enforce Graduated Driver Licensing (GDL) Laws</strong>. Many states have rules that prevent teens from driving at night or with other teens. Know the laws in your state and possibly set stricter standards.
    
    <p><strong>Limit Teen Passengers</strong>. Research has shown significant reductions in deaths were associated with graduated driving laws, including a restriction on carrying passengers or the number and age of passengers carried.
    
    <p><strong>Share the Car to Prevent Speeding</strong>. Parents can also set a good example by practicing safe driving themselves.
    
    <p><strong>Discuss Consequences</strong>. Teenage speeding puts lives and licenses on the line. It can also be expensive, and pricey tickets can increase insurance rates.
    
    <p><strong>Be Involved</strong>. Frequently ride with your teens to be sure they're being safe. And when you're driving, be a good role model. Always travel at a speed appropriate for the road conditions.

    
    </p>
</div>

<div class="container mb-5 mt-2">
  <div class="row">
    <div class="col float-left">
        <a href="/healthy/2/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-left" role="button" aria-pressed="true">HEALTHY (2)</a>
    </div>

    <div class="col float-right">
        <a href="/healthy/4/" class="row btn btn-sm btn-warning col-md-4 font-weight-bold float-right" role="button" aria-pressed="true">HEALTHY (4)</a>
    </div>
  </div>
</div>
</div>


{% endblock %}